# vscode project files
.vscode

# zend studio for eclipse project files
.buildpath
.project
.settings
nginx.htaccess
.htaccess

# phpb2b
configs/config.inc.php
data/cache
data/templates_c
data/templates_cache

# windows thumbnail cache
Thumbs.db