<!--{include file="site/$theme_name/header.html" page_title="$_service_license" nav_id="$nav_id"}-->
<!-- {get do="cache" name="agreement"} -->
<div class="wrapper">
  <div class="content">
    <div class="tips"><span>{$position}</span></div>
    <div class="blank"></div>
    <div class="body_content">
      <div class="title_bar_s3">
            <span class="title_top_s3"><span></span></span>
            <h2>{$_G.site_name} {lang agreement}</h2>
      </div>  
      <div class="content_body">{$agreement}</div>
       <div class="blank"></div>
    </div>
    </div>
</div>
<!--{include file="site/$theme_name/footer.html"}-->