<br/>
<a href="javascript:window.history.back();">{lang go_back}</a>
<a href="javascript:window.refresh();">{lang refresh_page}</a>
<a href="{the_url module=wap}">{lang web3g_version}</a>
<a href="index.php?do=pad">{lang webmobile_version}</a>
<a href="{$WebRootUrl}index.php?do=pc" target="_blank" style="background: url({$WebRootUrl}{$TemplateDir}/wap/images/external.png) center right no-repeat;padding-right: 13px;">{lang webpc_version}</a>
<br/>
<br/>{lang service_hotline}{$service_tel}<br/>
<small>{$smarty.now|date_format:"%m/%d/%Y %H:%M"}</small><br/>
<a href="http://wap.phpb2b.com/" target="_blank" style="text-decoration:none;color:#000000;background: url({$WebRootUrl}{$TemplateDir}/wap/images/external.png) center right no-repeat;padding-right: 13px;"><cite>Powered by PHPB2B</cite></a>
</div>
</body>
</html>