@charset "utf-8";
"iso-8859-1";
BODY {
	SCROLLBAR-FACE-COLOR: #ebebeb; MARGIN: 0px; FONT: 12px "Arial", "Arial"; SCROLLBAR-HIGHLIGHT-COLOR: #ebebeb; SCROLLBAR-SHADOW-COLOR: #ebebeb; SCROLLBAR-3DLIGHT-COLOR: #494949; SCROLLBAR-ARROW-COLOR: #494949; SCROLLBAR-TRACK-COLOR: #f3f3f3; SCROLLBAR-DARKSHADOW-COLOR: #777777
}
SELECT {
	FONT: 12px/180% "Arial", "Arial"; COLOR: black
}
TD {
	FONT: 12px/15px "Arial", "Arial"; COLOR: #333333}
.text {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #333333;
	text-decoration: none;
}
.text-line {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #00116B;
	text-decoration: underline;
}
.text-line:hover {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #333333;
	text-decoration: underline;
}

.text-line:visited {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #333333;
	text-decoration: underline;
}
.text1 {
	font-size: 18px;
	FONT-FAMILY: "Arial";
	color: #EE7102;
	text-decoration: none;
}
.text2 {
	font-size: 11px;
	FONT-FAMILY: "Arial";
	color: #157971;
	text-decoration: none;
}

.top-link-red {

	
	font-size: 12px;
	FONT-FAMILY: "Arial";
	text-decoration: none;
	color: #E10000;
}
.member1 {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #0257AC;
	font-weight:bolder;
	text-decoration: none;
}
.member1:hover {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #333333;
	font-weight:bolder;
	text-decoration: none;
}
.member2 {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #333333;
	font-weight:bolder;
	text-decoration: none;
}
.member2:hover {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #0257AC;
	font-weight:bolder;
	text-decoration: none;
}
.text-2 {
	font-size: 14px;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	color: #ff6600;
}
.text-3 {
	font-size: 14px;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	color: #333333;
}

.text-4 {
	font-size: 14px;
	FONT-FAMILY: "Arial";
	color: #333333;
	text-decoration: none;
}

.text-5 {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	color: #ff6600;
}

.text-6 {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #ff6600;
}

.text-7 {
	font-size: 12px;
	line-height:15px;
	color: #473B01; 
	text-decoration: none;
}

.text-white-big {
	
	font-size: 14px;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	color: #ffffff;
}
.text-blue {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #043494;
	text-decoration: none;
}
.text-green {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #049416;
	font-weight: bolder;
}

.text-green-tradeleads {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #1A4E03;
	font-weight: bolder;
}

.text-blue-products {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #00084d;
	font-weight: bolder;
}

.text-yellow-companies {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #493e2a;
	font-weight: bolder;
}

.text-nacarat-other {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #4F2A00;
	font-weight: bolder;
}
.text-nacarat-other_1 {
	font-size: 10px;
	FONT-FAMILY: "Arial";
	color: #4F2A00;
	
}

a {
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: "Arial";
	TEXT-DECORATION: none;
	border: thin none #8B83CB;

}

.link-white {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	TEXT-DECORATION: none;
	border: 8 none #8B83CB;

}
.link-white:hover {
	FONT-SIZE: 12px;
	COLOR: #E7FCFF;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	TEXT-DECORATION: none;
	border: thin none #8B83CB;

}
.link-white:visited {
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	TEXT-DECORATION: none;
	border: thin none #8B83CB;

}

.link-green {
	FONT-SIZE: 12px;
	COLOR: #049416;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	TEXT-DECORATION: underline;
	line-height: normal;


}
.link-green:hover {
	FONT-SIZE: 12px;
	COLOR: #0000FF;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	text-decoration: underline;
	line-height: normal;


}
.link-green:visited {
	FONT-SIZE: 12px;
	COLOR: #049416;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	text-decoration: underline;
	line-height: normal;

}

.link-green-2 {
	FONT-SIZE: 12px;
	COLOR: #049416;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	TEXT-DECORATION: underline;
	line-height: normal;


}
.link-green-2:hover {
	FONT-SIZE: 12px;
	COLOR: #0000FF;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	text-decoration: underline;
	line-height: normal;


}
.link-green-2:visited {
	FONT-SIZE: 12px;
	COLOR: #043494;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	text-decoration: underline;
	line-height: normal;

}

.link-blue {
	FONT-SIZE: 12px;
	COLOR: #043494;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	TEXT-DECORATION: none;
	line-height: normal;


}
.link-blue:hover {
	FONT-SIZE: 12px;
	COLOR: #043494;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	text-decoration: none;
	line-height: normal;


}
.link-blue:visited {
	FONT-SIZE: 12px;
	COLOR: #043494;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	text-decoration: none;
	line-height: normal;

}

.link-red {
	FONT-SIZE: 12px;
	COLOR: #C50907;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	TEXT-DECORATION: none;
	border: 8 none #8B83CB;

}
.link-red:hover {
	FONT-SIZE: 12px;
	COLOR: #FF6E6C;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	TEXT-DECORATION: none;
	border: thin none #8B83CB;

}
.link-red:visited {
	FONT-SIZE: 12px;
	COLOR: #C50907;
	FONT-FAMILY: "Arial";
	font-weight: bolder;
	TEXT-DECORATION: none;
	border: thin none #8B83CB;

}

.link-grey-underline {
	FONT-SIZE: 12px;
	COLOR: #797979;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	text-decoration: underline;
	line-height: normal;
}

.link-grey-underline:hover {
	FONT-SIZE: 12px;
	COLOR: #0000FF;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	text-decoration: underline;
	line-height: normal;
}

.link-grey-underline:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: "Arial";
	font-weight: normal;
	text-decoration: underline;
	line-height: normal;
}

.input1{
	font-size: 10px;
	line-height: 10px;
	border: 1px solid #999999

}
.input2{
	font-size: 11px;
	line-height: 12px;
	border: 1px solid #CFC13E;
	background-color: FFFCE2;


}
.bt_keymenu {
	font-family: Arial;
	font-size: 12px;
	line-height: 10px;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
}
.rating01 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 12px;
}
.rating02 {
	font-family: Arial;
	font-size: 12px;
	color: #009999;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
}
.bt_keymenu01 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 12px;
}
.bt_keymenu02 {
	font-family: Arial;
	font-size: 12px;
	line-height: 10px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
}
.rating_03 {
	font-family: Arial;
	font-size: 12px;
	line-height: 20px;
	color: #009999;
	text-decoration: none;
}
.rating_04 {
	font-family: Arial;
	font-size: 10px;
	color: #990000;
	text-decoration: none;
	line-height: 15px;
}
.Keyword01 {
	font-family: Arial;
	font-size: 12px;
	line-height: 12px;
	color: #333333;
	text-decoration: none;
}
.keyword02 {
	font-family: Arial;
	font-size: 12px;
	color: #006600;
	font-weight: bold;
}
.pointssystem {
	font-family: Arial;
	font-size: 12px;
	line-height: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.pointssystem01 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #234A96;
	text-decoration: none;
	line-height: normal;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #85ADFF;
	border-bottom-color: #85ADFF;
	border-left-color: #85ADFF;
}
.bt_diy {
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
}
.bt_diy2 {
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.bt_bk1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #85ADFF;
}
.bt_bk2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F5E5FA;
}
.bt_bk3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5F5E5;
}
.bt_bk {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCEBEB;
}
.bt_ps {
	font-family: Arial;
	font-size: 12px;
	line-height: 10px;
	font-weight: bold;
	color: #6699FF;
}
.creditrating {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 10px;
	text-decoration: none;
	color: #009999;
	font-weight: bold;
}
.diymenu {
	font-family: Arial;
	font-size: 10px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
.diymenu:hover {
	font-family: Arial;
	font-size: 10px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
.diymenu:visited {
	font-family: Arial;
	font-size: 10px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
.diynr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
}
.title {
	color: #FC8703;
	font-family: Arial;
	font-size: 16px;
	font-weight: bolder;
	text-decoration: none;
}
.menu {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #000000;
	text-decoration: none;
}
.menu1 {
	font-size: 10px;
	FONT-FAMILY: Arial;
	color: #000000;
	text-decoration: none;
	line-height:10px;
	font-weight: normal;
}
.choose1 {
	font-family: Arial;
	font-size: 10px;
	color: #0066FF;
}
.choose1:hover {
	font-family: Arial;
	font-size: 10px;
	color: #003399;
}
.choose1:visited {
	font-family: Arial;
	font-size: 10px;
	color: #003399;
}
.text13 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B2B2B2;
	border-right-color: #B2B2B2;
	border-bottom-color: #B2B2B2;
	border-left-color: #B2B2B2;
}
.text12{
	font-family: Arial;
	border: 1px solid #E5E5E5;
}
.text14 {
	font-family: Arial;
	font-size: 12px;
	color: #003399;
	text-decoration: none;
}

.text5 {
	font-family: Arial;
	font-size: 12px;
	color: #0066FF;
	font-weight: normal;
}
.text5:hover {
	font-family: Arial;
	font-size: 12px;
	color: #0066FF;
	font-weight: normal;
}
.text5:visited {
	font-family: Arial;
	font-size: 12px;
	color: #0066FF;
	font-weight: normal;
}
.text6 {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text7 {
	font-family: Arial;
	font-size: 11px;
	line-height: 12px;
	color: #333333;
	text-decoration: none;
}
.text8 {
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.text9 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.text10 {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text11 {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #000000;
	font-weight: bold;
}
.text15 {
	font-family: Arial;
	font-size: 12px;
	color: #00116B;
	font-weight: bold;
	text-decoration: none;
}

.more {
	font-family: Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.bk1 {
	border: 1px solid #E5E5E5;
}
.bk2 {
	border: 1px solid #EBE5C6;
}
.bk4 {
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #000000;
}
.bk5 {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #000000;
}
.right1 {
	font-family: Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.right2 {
	font-family: Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.right3 {
	font-family: Arial;
	font-size: 12px;
	color: #003399;
}
.right4 {
	font-family: Arial;
	font-size: 12px;
	color: #003399;
}
.xx {
	border-top: 1px dashed #000000;
	border-right: 1px #000000;
	border-bottom: 1px #000000;
	border-left: 1px #000000;
}
.pop {
	font-family: Arial;
	font-size: 12px;
	color: #003399;
	text-decoration: none;
	font-weight: bolder;
}
.left1 {
	font-family: Arial;
	font-size: 12px;
	color: #746427;
	text-decoration: none;
}
.right5 {
	font-family: Arial;
	font-size: 12px;
	color: #003399;
	text-decoration: none;
}
.more2 {
	font-family: "Arial";
	font-size: 10px;
	color: #746427;
	text-decoration: none;
}
.link8 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.photlinke {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.ui {
	font-family: "Arial";
	font-size: 12px;
	line-height: 15px;
	text-decoration: none;
}
.wq {
	font-family: Arial;
	font-size: 10px;
	line-height: 12px;
	color: #000000;
}
.border_2 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cccccc;
}
.borders {border: 1px solid #cccccc;}
.border_1 {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #cccccc;
}
.border_3 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}.menu2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333366;
	text-decoration: none;
}
.menu2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FF6600;
	text-decoration: underline;
}
.x {
	border-top: 1px dashed #333366;
	border-right: 1px none #333366;
	border-bottom: 1px none #333366;
	border-left: 1px none #333366;
}
.fonts-e {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

.14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333366;
	text-decoration: none;
}
.10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333366;
	text-decoration: none;
}
.10_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF6600;
	text-decoration: underline;
}
.fonts-11px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.fonts12px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.fonts12px-x {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006633;
	text-decoration: underline;
}



.fonts-e1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.bian {
	height: 20px;
	width: 105px;
}
.text_y {
	font-size: 13px;
	line-height: 1.5;
	font-weight: bold;
	color: #ff6600;
	margin: 4px;
	padding: 4px;
}
.text_h {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 4px;
	padding: 4px;
}
.small_texty {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff6600;
	margin: 1px;
	padding: 1px;
}
.member1Copy {
	font-size: 12px;
	FONT-FAMILY: "Arial";
	color: #0257AC;
	font-weight:bolder;
	text-decoration: none;
	margin: 1px;
	padding: 1px;
}
.bianCopy {

	height: 18px;
	width: 50px;
}
#f{
border-collapse:collapse;
}
kong {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin: 4px;
	padding: 4px;
}
.font14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: underline;
}
.click {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.style2 {font-size: 12px; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
.font14_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.click:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099FF;
	text-decoration: underline;
}
.font_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.font10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
#f1{
	border-collapse:collapse;
	margin: 4px;
	padding: 4px;
}
.bianheight {

	height: 18px;
}
.btndown {
	background-color: #bfd3de;
}

.btndown {
	background-color: #FF000;
}
.t_menu2 {
	text-align: center;
	background-image: url(../images/index_en7.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	cursor: hand;
	width: 12.5%;
	height: 22px;
}
.t_menu {
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eaeaea;
	border-right-color: #eaeaea;
	border-bottom-color: #CCCCCC;
	border-left-color: #eaeaea;
	width: 12.5%;
}
.t_menu3 {
	background-image: url(../images/index_en8.gif);
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	width: 12.5%;
	cursor: hand;
}.t_line {
	width: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.contact_border{
	border:1px solid #efdaae;
	padding:1px;
	width:99%;
	margin:0 auto;
	text-align:left;
}
.contact_bg{
	background:#efdaae;
	padding:3px;
}
.contact_ct{
	padding:10px 5px;
	line-height:18px;
}
