.main{width:960px; margin:0 auto; font-size:12px;}
.span_more{padding-top:10px; float:right;}
.breadline{ height:18px; line-height:18px;}
h1{ float:left; font-size:12px; font-weight:lighter; padding:0; margin:0}
.float_left{float:left; width:750px;}
.float_right{float:right; width:210px;}
.float_left .line_top{border-top:1px dashed #ccc; padding:5px 0;}
.float_left .line_top .list{}
.float_left .line_top .list li{float:left; width:370px; padding:3px 0;}
.float_left .line_top .list li .list_txt{}
.float_left .line_top .list li .list_txt li{float:left; width:175px; padding-left:10px;}
.float_left .result{font-size:14px; line-height:30px;}
.float_left .keywords{color:#fe5a00;}
.float_left .numbers{color:#007cd0;}
.float_left .related_searches{background:#f7f7f7; padding:10px; line-height:18px;}
.float_left .related_searches li{line-height:20px;}
.float_left .related_categories{background:#f7f7f7; padding:10px 10px 10px 10px; line-height:18px; margin-bottom:15px;}
.float_left .related_categories li{float:left; width:25%;}
.float_left .left_title_bg{background:url(../images/middle_title_bg.gif); width:750px; height:28px; line-height:28px;}
.float_left .left_title_bg .navbg{float:left; height:28px; background:url(../images/middle_nav_bg_01.gif) no-repeat; margin-right:5px;}
.float_left .left_title_bg .navbg div{background:url(../images/middle_nav_bg_02.gif) no-repeat right; text-align:center;
line-height:28px; padding:0 10px; font-weight:bold; color:#FFFFFF;}
.float_left .left_title_bg .nav_bg{float:left; height:28px; background:url(../images/middle_nav_bg_03.gif) no-repeat; margin-right:5px;}
.float_left .left_title_bg .nav_bg div{background:url(../images/middle_nav_bg_04.gif) no-repeat right; text-align:center;
line-height:28px; padding:0 10px; font-weight:bold;}
.float_left .inquiry_bar{ background:url(../images/list_bg2.gif) repeat-x; height:38px;}
.float_left .inquiry_bar .select_button{float:left; line-height:38px; padding-left:15px;}
.float_left .inquiry_bar .inquiry_button{float:right; padding:7px 10px 0 0;}
.float_left .leftbar_bg{background:url(../images/leftbar_bg.gif); border:1px solid #cacbcf; height:34px; padding-left:10px; width:728px;}
.float_left .leftbar_bgcolor{background:#f2f2f4; border-top:1px solid #ccc; border-bottom:1px solid #ccc; height:27px; line-height:27px; width:740px; padding-left:10px;}
.float_left .leftbar_bgcolor li{float:left; line-height:23px; height:23px; padding:2px 0 2px 0; color:#333; font-weight:bold;}
.float_left .leftbar_bgcolor .width_01{width:20px; text-align:center;}
.float_left .leftbar_bgcolor .width_02{width:110px; text-align:center; }
.float_left .leftbar_bgcolor .width_03{width:300px;text-align:center; }
.float_left .leftbar_bgcolor .width_04{width:110px; text-align:center;}
.float_left .list_product{padding:10px 0 10px 10px; border-bottom:1px dashed #ccc;}
.float_left .list_product li{float:left;}
.float_left .list_product .width_01{width:20px; text-align:center;}
.float_left .list_product .width_02{width:110px; text-align:center;height:106px;}
.float_left .list_product .width_03{width:300px;}
.float_left .list_product .width_003{width:560px; padding-left:20px; }
.float_left .list_product .width_003 .div003{}
.float_left .list_product .width_003 .div003 .a{ float:left;padding-top:10px;}
.float_left .list_product .width_003 .div003 .b{ float:left;padding-top:10px;}
.float_left .list_product .width_003 .div003 .b li{ padding:5px 0 0 10px;}
.float_left .list_product .width_003 .div003 .b li a{ font-style: italic; color:#003399; text-decoration:underline; font-family:Verdana;}
.float_left .list_product .width_003 .div003 .g{ color:#666666;}
.float_left .list_product .width_02 img{border:1px solid #cacaca;}
.float_left .list_product .width_03 li{float:none; margin:0;}
.float_left .list_product .width_003 li{float:none; margin:0;}
.float_left .list_product .width_04{width:110px; text-align:center; padding-top:10px;}
.float_left .page .left_page{float:left; width:480px; padding-left:10px;}
.float_left .page .left_page .left_tit{float:left; width:80px;}
.float_left .page .left_page .right_tit{float:right; width:390px;}
.float_left .page .left_page .right_tit li{float:left; margin:0 2px; border:1px solid #1b5790;}
.float_left .page .right_page{float:right; width:180px; text-align:right; padding-right:10px;}
.float_left .bg_gary{background:#fafafa;}
.float_right{ float:right; width:200px}
.float_right .ad{}
.float_right .ad img{ border:none}
.float_right .border{border:1px solid #a9bad3; width:196px; padding:1px;}
.float_right .border .title{
	height:28px;
	line-height:28px;
	font-weight:bold;
	padding:0 10px;
	background-image: url(../images/colum_bg.gif);
}
.float_right .border .my_rh{padding:5px;}
.float_right .border .my_rh li{padding:5px 0; border-bottom:1px dashed #ccc;}
.float_right .bt_comm{padding:5px; background:#f3f3f3;}
.float_right .bt_comm li{padding:3px 0;}
.float_right .border .bt_comm li{LIST-STYLE-IMAGE: none;LIST-STYLE-TYPE: none; list-style-position:outside;font-size:10px;	BACKGROUND: url(../images/point.gif) no-repeat; padding-left:10px; margin-bottom:5px; font-family:verdana; display:block}
.float_right .border .bt_comm .more{width:98%; text-align:right; margin-bottom:5px}
.float_right .border .bt_comm .more2{font-size:10px;	BACKGROUND: url(../images/icon_arrow.gif) no-repeat left 50%; padding-left:11px; display:block; margin-bottom:5px; font-family:verdana}
.float_right .border_blue{border:1px solid #dddddd;}
.float_right .title_blue{
	height:25px;
	line-height:25px;
	font-weight:bold;
	padding:0 10px;
	background: url(../images/colum_right_bg2.gif) repeat-y;
	color:#fff;
}
.float_right .border_blue .my_rh{padding:5px; background:#f3f3f3;}
.float_right .border_blue .my_rh li{padding:5px 0; border-bottom:1px dashed #ccc;}

.float_right .border_green .featured{background:#f3f3f3;padding:5px;}
.float_right .border_green .featured li{LIST-STYLE-IMAGE: none;LIST-STYLE-TYPE: none; list-style-position:outside;font-size:10px;	BACKGROUND: url(../images/point.gif) no-repeat; padding-left:10px; display:block; margin-bottom:5px; font-family:verdana}
.float_right .border_green .featured .more{width:98%; text-align:right; margin-bottom:5px}
.float_right .border_green .featured .more2{font-size:10px;	BACKGROUND: url(../images/icon_arrow.gif) no-repeat left 50%; padding-left:11px; display:block; margin-bottom:5px; font-family:verdana}
.float_right .border_green{border:1px solid #dddddd;}
.float_right .border_green .bt_comm li{LIST-STYLE-IMAGE: none;LIST-STYLE-TYPE: none; list-style-position:outside;font-size:10px;	BACKGROUND: url(../images/point.gif) no-repeat; padding-left:10px; margin-bottom:5px; font-family:verdana; display:block}
.float_right .border_green .bt_comm .more{width:98%; text-align:right; margin-bottom:5px}
.float_right .border_green .bt_comm .more2{font-size:10px;	BACKGROUND: url(../images/icon_arrow.gif) no-repeat left 50%; padding-left:11px; display:block; margin-bottom:5px; font-family:verdana}
.float_right .title_green{
	height:25px;
	line-height:25px;
	font-weight:bold;
	padding:0 10px;
	background: url(../images/colum_right_bg.gif) repeat-y;
	color:#fff;
}
.float_right .border .industry_news{padding:5px;}
.float_right .border .industry_news .left_pic{float:left; width:72px;}
.float_right .border .industry_news .right_txt{float:right; width:120px;}

.border_hotkeyword{border:1px solid #8eb0ca; height:1%; width:748px;}
.border_hotkeyword .title{
	height:28px;
	line-height:28px;
	font-weight:bold;
	padding:0 10px;
	background-image: url(../images/colum_bg.gif);
}
.kw{padding:5px 0;}
.kw li{float:left; width:131px; padding:0 5px; line-height:21px;height:21px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

.float_left .border{border:1px solid #8eb0ca;}
.float_left .border .title{background:url(../images/middle_title_bg2.gif); height:24px; line-height:24px; padding:0 5px;
font-weight:bold; border-bottom:1px solid #528bad;}
.float_left .border .list_txt{float:left; line-height:18px;}
.float_left .border .dw{ padding-left:3%; height:1%; width:723px;}
.float_left .border .dw img{border:1px solid #ccc;}
.float_left .border .dw li{float:left; width:19%; line-height:21px; text-align:center; margin:15px 0;}
.float_left .border .dw li div{width:96%; margin:5px auto; line-height:15px; height:30px; overflow:hidden;}

.border_4_leads{
	border:1px solid #a9bad3;
	width:746px;
	margin-bottom:10px;
	padding:1px;
}
.bg_4_leads{
	background-image: url(../images/colum_bg.gif);
	height:28px;
	line-height:28px;
	padding-left:20px;
	font-weight:bold;
	width:728px;
}
.pad_l_r li{
	float:left;
	width:200px;
	padding:0 28px 0 20px;
	display:block;
	height:20px;
	line-height:20px;
}
.pad_l_r li a{
	color:#1b5790;
	text-decoration:underline;
}
.pad_l_r li a:hover{
	color:#333;
	text-decoration:none;
}
.float_right .seo{padding-top:3px}
.float_right .seo ul{padding:0;margin:0;list-style:none}
.float_right .seo ul li{width:42%; margin:5px 0px 2px 8px; float:left; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;word-break:break-all;}
.pad_top_5px break{word-break:break-all;overflow: auto;}

.margin_top_5px{
	margin-top:5px;
}

.clear{clear:both; font-size:1px; visibility:hidden;}

.button_create{
text-align:center;font-size:12px; background:url(../images/busy_b_a.gif); width:56px; height:21px; color:#FFFFFF;
border-style: none;
}
.c_kj{padding:10px 0px 0px 0px;}
.createabusyalert {
	width: 200px;
	border: 1px solid #A9BAD3;
}
.Create_title{
font-weight:bold; font-family: Arial; font-size:12px;
color:#000000;
padding:5px 10px 10px 10px;
background-image:url(../images/colum_bg.gif);

}
.Subscribe_txt{
 font-family: Arial; font-size:12px; line-height:18px;
 
	padding:5px 10px 5px 10px;
}
.content_one_txt{
   
 padding:5px 5px 5px 10px;
 line-height:20px;
 font-size:12px;
}
.content_two_txtbox{
	padding:0px 10px 0px 5px;
	font-size:12px;
	line-height:32px;
}
.font14 strong { margin: 0 5px 0 0
	
}