td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	color: #333333;
	line-height: 15px;
}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	color: #333333;
}
.menu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
}
.font12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
}
.menu10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333333;
	text-decoration: none;
}
.menu10:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #0099FF;
	text-decoration: underline;
}
.menu_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #003399;
	text-decoration: underline;
	font-weight: normal;
}
.menu_2:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #0099FF;
	text-decoration: underline;
}
.font10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	color: #333333;
}
.line {
	border: 1px solid #CCCCCC;
}
.Directory {
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
	text-decoration: underline;
	text-transform: capitalize;
	font-size: 9pt;
}
.Directory:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #0099FF;
	text-decoration: underline;
}
.search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	color: #333333;
}
.search:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #5E3F00;
	text-decoration: none;
}
.hotproducts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #003399;
	text-decoration: underline;
	text-transform: capitalize;
}
.hotproducts:hover {
	text-decoration: underline;
	color: #0099FF;
}
.font12_B {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.font12_line2 {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 9pt;
}
.btndown {
	background-color: #FFFEF4;
}
.btndown {
	background-color: #FF000;
}a {
	color: #003399;
	text-decoration: none;
	
}
.t_menu2 {
	text-align: center;
	background-image: url(../images/index_en7.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	cursor: hand;
	width: 12.5%;
	height: 22px;
}
.t_menu {
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eaeaea;
	border-right-color: #eaeaea;
	border-bottom-color: #CCCCCC;
	border-left-color: #eaeaea;
	width: 12.5%;
}
.t_menu3 {
	background-image: url(../images/index_en8.gif);
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	width: 12.5%;
	cursor: hand;
}
.t_menu_line2 {
	width: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.t_menu_line {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.pic {
	border: 1px solid #CCCCCC;
}
.font16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.font14 {
	font-size: 14px;
	text-decoration: none;
}
.unber_line {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.tradeshow_menu {
	font-size: 12px;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	cursor: hand;
	background-position: center;
	color: #333333;
	text-align: center;
	font-weight: bold;
	background-image: url(../images/index_en8.gif);
}
.tradeshow_menu2 {
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	cursor: hand;
	text-align: center;
	color: #333333;
	font-weight: bold;
	background-image: url(../images/index_en7.gif);
	width: 33%;
}

.font10_line {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: underline;
}
.ts_line {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E5CC7F;
	border-right-color: #E5CC7F;
	border-bottom-color: #E5CC7F;
	border-left-color: #E5CC7F;
}
.foot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #003399;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
.trade12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.trade12:hover {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.tradeshow_menu3 {
	width: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	float: left;
}
.expo_reg {
	border-top: 1px none #5B829E;
	border-right: 1px solid #5B829E;
	border-bottom: 1px solid #5B829E;
	border-left: 1px solid #5B829E;
}
p {
	text-align: justify;
	line-height: 18px;
}
.box_09 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}
