
a{
	color:#133b62;
	text-decoration:none;
}
a:hover{
	color:#133b62;
	text-decoration:underline;
}
.Getting_Started a{
	color:#665B3B;
	text-decoration:none;
}
.Getting_Started a:hover{
	color:#133b62;
	text-decoration:underline;
}
.orange{
	color:#ff6600;
	text-decoration:none;
}
.orange:hver{
	color:#ff6600;
	text-decoration:underline;
}
.tag_box{
	background:url(../images/tag_box.gif);
	width:19px;
	line-height:17px;
	height:17px;
	text-align:center;
	font-weight:bold;
	color:#ff6600;
	display:block;
}
.tag_box:hover{
	background:url(../images/tag_box.gif);
	width:19px;
	line-height:17px;
	height:17px;
	text-align:center;
	font-weight:bold;
	color:#ff6600;
	display:block;
}
.tag_box2{
	background:none;
	width:19px;
	line-height:17px;
	height:17px;
	text-align:center;
	color:#333333;
	display:block;
}
a.Und0a0:link{
	color:#00aa00;
	text-decoration:underline;
}
a.Und0a0:visited{
	color:#00aa00;
	text-decoration:underline;
}
a.Und0a0:hover{
	color:#00aa00;
	text-decoration:none;
}
.search_btn{
	background:url(../images/index/new_index/search_btn.gif);
	height:19px;
	width:61px;
	border:none;
}