@charset "utf-8";
.main{ width:780px; margin:0 auto}
.bread_line{padding:5px 0;}
.width_780{width:780px; margin:20px auto 0 auto; color:#254a85;}
.pw_top{background:url(../images/pw_top.gif); height:38px; line-height:38px; padding-left:60px; color:#184c9b; font-size:14px; font-weight:bold; width:720px; overflow:hidden;}
.pw_middle{background:url(../images/pw_middle.gif); width:780px; padding:20px 0 0 0;}
.pw_middle2{background:url(../images/pw_middle.gif); width:775px; padding:0 4px 0 1px;}
.pw_middle2 .line_top{border-top:1px solid #3a89c2; background:#f6f9ff; padding:5px 0;}
.pw_middle2 .line_top li{ text-align:center; line-height:20px;}
.pw_bottom{background:url(../images/pw_bottom.gif); height:4px; width:780px; overflow:hidden;}
.width_650{width:650px; margin:0 auto;  padding:10px 0 20px 0}
.width_650 .float_left_200{float:left; width:200px; text-align:right;  font-size:14px;}
.width_650 .float_right_400{float:left; width:400px; text-align:left; padding-left:5px;}
.width_650 .float_right_400 div{}
.register_ts_2{ color:#999; padding:3px 0; font-size:11px; margin:10px 0;}
.register_ts{ border:1px solid #ff6600; background: url(../images/error_bang.gif)  no-repeat 5px 5px #ffeeee;  padding:3px 3px 3px 26px; color:#ff0000;width:390px; margin:10px 0;}
.PwdMeterBase{margin-bottom:5px;width:248px;}
.PwdBack{height:14px;background-image:url(../images/password_meter_grey.gif);background-position:center center;background-repeat: no-repeat;}
.PwdMeter{width:0;background-image:url(../images/password_meter.gif);background-position:center center;background-repeat: no-repeat;height:14px; font-size:11px;color:#666;}
.pad1 li { padding:10px;}
.align_c { text-align:center}