/**For search**/
	BODY {
	MIN-WIDTH: 960px;
	BACKGROUND: #fff;
	MARGIN: 0px;
	WIDTH: auto;
	COLOR: #000;
	FONT-FAMILY: arial
}
TD {
	}
IMG {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	VERTICAL-ALIGN: middle;
	BORDER-RIGHT-WIDTH: 0px
}
OL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}
CITE {
	COLOR: green;
	FONT-STYLE: normal
}
H3 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: normal;
	FONT-SIZE: medium;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
EM {
	FONT-WEIGHT: normal;
	COLOR: #c03;
	FONT-STYLE: normal
}
A {
	COLOR: #261cdc
}
#ie6 {
	width: 960px;
	margin:0px auto;
}
.Tit {
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 4px;
	width:600px;
}
.tab {
	PADDING-LEFT: 2px;
	PADDING-TOP: 0px
}
.log {
	PADDING-RIGHT: 5px
}
.log a {
	font-size: 12px;
	color: #999;
	text-decoration: none;
}
.log a: hover {
	text-decoration: underline;
}
.menudh {
	FONT-SIZE: 12px;
	COLOR: #666
}
.ibox {
	PADDING-LEFT: 2px;
	FONT-SIZE: 16px;
	VERTICAL-ALIGN: middle;
	WIDTH: 300px;
	PADDING-TOP: 2px;
	HEIGHT: 20px;
}
.reinfo {
	PADDING-RIGHT: 10px;
	MARGIN-TOP: 5px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 13px;
	BACKGROUND: #cae2fe;
	MARGIN-BOTTOM: 15px;
	PADDING-BOTTOM: 0px;
	WIDTH: 100%;
	PADDING-TOP: 3px;
	HEIGHT: 20px;
}
.reinfo a {
	color: #333;
}
.sethome {
	FONT-SIZE: 12px
}
h3 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: normal;
	FONT-SIZE: medium;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
.med {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: normal;
	FONT-SIZE: medium;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	background: #FFF;
	overflow: hidden;
}
#cnt {
	CLEAR: both;
	MAX-WIDTH: 80em
}
#tbd {
	PADDING-RIGHT: 3px;
	DISPLAY: block;
	PADDING-LEFT: 0px;
	BACKGROUND: #fff;
	LEFT: 11px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN-LEFT: 0px;
	WIDTH: 125px;
	PADDING-TOP: 0px;
	overflow: hidden;
	display: inline;
}
.tbos {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	PADDING-TOP: 2px;
	font-family: Arial;
	background: url(../images/spic.jpg) 0px -30px no-repeat;
	padding-left: 20px;
	cursor: pointer;
}
.tbos2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	PADDING-TOP: 2px;
	font-family: Arial;
	background: url(../images/spic.jpg) 0px -50px no-repeat;
	padding-left: 20px;
	margin-top: 8px;
}
.tbos a {
	TEXT-DECORATION: none
}
.tbos a: hover {
	TEXT-DECORATION: underline
}
.tbos2 a {
	TEXT-DECORATION: none
}
.tbos2 a: hover {
	TEXT-DECORATION: underline
}
.tbt {
	MARGIN-BOTTOM: 0.3em;
	MARGIN-left: 0.2em;
	margin-top: 0.2em;
}
.tbou {
	PADDING-LEFT: 1.6em;
	FONT-SIZE: 13px;
	PADDING-TOP: 6px
}
.tbou a {
	PADDING-LEFT: 0em;
	FONT-SIZE: 13px;
	PADDING-TOP: 4px;
	text-decoration: underline;
}
.xgdhtit {
	width: 110px;
	height: 25px;
	padding-left: 2px;
	padding-top: 7px;
	margin-bottom: 5px;
	background: url(../images/spic.jpg) 0px -90px no-repeat;
}
.tbotu {
	PADDING-LEFT: 1em;
	CURSOR: pointer;
	COLOR: #2200cc;
	TEXT-DECORATION: underline
}
.tbotu DFN {
	DISPLAY: none
}
.tbou DFN {
	DISPLAY: none
}
.tbots a {
	FONT-WEIGHT: bold;
	CURSOR: default;
	COLOR: #000000;
	TEXT-DECORATION: none
}
.tbots a: visited {
	FONT-WEIGHT: bold;
	CURSOR: default;
	COLOR: #000000;
	TEXT-DECORATION: none
}
.tbots a: active {
	FONT-WEIGHT: bold;
	CURSOR: default;
	COLOR: #000000;
	TEXT-DECORATION: none
}
.tbotu {
	PADDING-TOP: 2px
}
.tbots {
	PADDING-TOP: 2px
}
.xgdh {
	PADDING-RIGHT: 3px;
	MARGIN-TOP: 20px;
	PADDING-LEFT: 3px;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: left;
	color: #000;
	font-weight: bold;
	MARGIN-LEFT: 0.6em;
}
.xgdh a {
	DISPLAY: block;
	FONT-SIZE: 13px;
	WIDTH: 95px;
	margin-bottom: 6px;
	height: 16px;
	text-decoration: none;
	MARGIN-LEFT: 0.1em;
	font-weight: normal;
}
.xgdh a: hover {
	text-decoration: underline;
}
#mbEnd H2 {
	COLOR: #676767
}
#mbEnd {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: #ffF;
	FLOAT: right;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #fff 11px solid;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	WHITE-SPACE: nowrap;
	border-spacing: 0
}
.std {
	PADDING-LEFT: 10px;
	FONT-SIZE: small;
	FONT-FAMILY: arial,sans-serif
}
.nobr {
	WHITE-SPACE: nowrap
}
#mbEnd li {
	MARGIN: 5px 0px 10px;
	WIDTH: auto;
	LINE-HEIGHT: 150%;
	WHITE-SPACE: normal;
	WORD-WRAP: break-word;
}
#mbEnd H3 {
	PADDING-BOTTOM: 1px;
	LINE-HEIGHT: 1.3
}
#mbEnd CITE {
	LINE-HEIGHT: 1.3
}
#mbEnd P {
	MARGIN: -0.5em 0px 0px 0.5em;
	TEXT-ALIGN: center
}
#mbEnd .med {
	WHITE-SPACE: normal
}
#mbEnd B {
	FONT-WEIGHT: normal;
	COLOR: #c03;
	FONT-STYLE: normal
}
.ML {
	PADDING-RIGHT: 10px;
	MARGIN-TOP: 0px;
	PADDING-LEFT: 0px;
	FLOAT: left;
	MARGIN-LEFT: 125px;
	OVERFLOW: hidden;
	PADDING-TOP: 5px;
	TEXT-ALIGN: left
}
.f {
	PADDING-LEFT: 3px;
	FONT-SIZE: 100%;
	WIDTH: 30em;
	WORD-BREAK: break-all;
	LINE-HEIGHT: 140%;
	WORD-WRAP: break-word
}
.fgysltd {
	PADDING-LEFT: 10px;
	FONT-SIZE: 100%;
	PADDING-BOTTOM: 5px;
	WIDTH: 30em;
	WORD-BREAK: break-all;
	LINE-HEIGHT: 120%;
	WORD-WRAP: break-word
}
.fm {
	PADDING-LEFT: 8px
}
.fmgysl {
	MARGIN-TOP: 0px;
	PADDING-LEFT: 12px;
	OVERFLOW: hidden
}
.gysm {
	FONT-SIZE: 13px;
	COLOR: #8d88f0
}
.m {
	FONT-SIZE: 12px;
	COLOR: #666666
}
.rstab {
	MARGIN-BOTTOM: 16px
}
#res {
	PADDING-RIGHT: 0.5em;
	PADDING-LEFT: 10px;
	FLOAT: left;
	MARGIN: 5px 0px 0px;
	BORDER-LEFT: #D3E1F9 0px solid;
	WIDTH: 57%;
	*WIDTH: 58%;
	LINE-HEIGHT: 120%;
	TEXT-ALIGN: left;
	overflow: hidden;
	display: inline;
}
#res H3 {
	DISPLAY: inline
}
#res .j {
	LINE-HEIGHT: 120%
}
#res .std {
	LINE-HEIGHT: 146%
}
#res .r {
	LINE-HEIGHT: 1
}
#res .so {
	PADDING-LEFT: 8px;
	LINE-HEIGHT: 1
}
#res .s {
	MARGIN-LEFT: 8px;
	LINE-HEIGHT: 1.54
}
#res .s {
	PADDING-TOP: 2px
}
#res .ts .s {
	PADDING-TOP: 0px
}
#res LI .ts {
	MAX-WIDTH: 42em
}
LI.g {
	FONT-SIZE: small;
	FONT-FAMILY: arial,sans-serif
}
.r {
	DISPLAY: inline;
	FONT-WEIGHT: normal;
	MARGIN: 0px
}
.r {
	FONT-SIZE: medium
}
.tbt2 {
	float: right
}
.tbt2 img {
	padding: 1px; 
	border: 1px solid #2200C1; 
	background-color: #FFF; 
	MARGIN-TOP: 2px;
	MARGIN-LEFT: 6px;
	HEIGHT: 70px
}
.g {
	margin-bottom: 1.6em
}
.s {
	OVERFLOW: hidden;
	WHITE-SPACE: normal;
	word-wrap:break-word; 
	overflow:hidden;
}
.contj {
	FONT-SIZE: 12px;
	COLOR: #888
}
.c H3 {
	FONT-WEIGHT: normal;
	COLOR: #676767
}
.tas {
	FONT-SIZE: 13px;
	FLOAT: left;
	MARGIN-BOTTOM: 12px;
	margin-left:2px;
}
.clr {
	CLEAR: both;
	MARGIN: 0px 8px
}
.c {
	BACKGROUND: #fff;
	MARGIN: 0px 8px
}
.c LI {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
.c .tam {
	PADDING-TOP: 12px
}
.c .tal {
	PADDING-TOP: 12px
}
.c B {
	FONT-WEIGHT: normal;
	COLOR: #c03;
	FONT-STYLE: normal
}
.c {
	LINE-HEIGHT: 146%
}
#tadsb {
	MARGIN-LEFT: 0px
}
DIV.p {
	PADDING: 3px;
	MARGIN: 3px;
	TEXT-ALIGN: left;
	font-size: 13px;
}
DIV.p a {
	BORDER: #9aafe5 1px solid;
	PADDING: 3px 8px 3px 8px;
	COLOR: #2e6ab1;
	MARGIN-RIGHT: 6px;
	TEXT-DECORATION: none
}
DIV.p a: hover {
	BORDER: #2b66a5 1px solid;
	COLOR: #FFF;
	BACKGROUND-COLOR: #3872BC
}
DIV.p a: active {
	BORDER: #2b66a5 1px solid;
	COLOR: #000;
	BACKGROUND-COLOR: #3872BC
}
DIV.p SPAN.current {
	BORDER: navy 0px solid;
	PADDING: 3px 8px 3px 8px;
	FONT-WEIGHT: bold;
	COLOR: #000;
	MARGIN-RIGHT: 2px;
	BACKGROUND-COLOR: #FFF
}
DIV.p SPAN.disabled {
	BORDER: #ddd 1px solid;
	PADDING: 4px 8px 4px 8px;
	COLOR: #ddd;
	MARGIN-RIGHT: 2px;
}
.kgd {
	CLEAR: both;
	MARGIN-TOP: 30px;
	text-align: left;
	PADDING-BOTTOM: 20px;
	OVERFLOW: hidden;
	BACKGROUND-COLOR: #ffffff;
	margin-left: 7px;
	width: 100%;
}
.visdiv {
	BORDER: #ddd 0px dashed;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 10px;
	OVERFLOW: hidden;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	background: #FFF;
	display: inline;
}
.visdiv a {
	DISPLAY: block;
	FLOAT: left;
	MARGIN: 3px 16px 0px 0px;
	OVERFLOW: hidden;
	WIDTH: 180px;
	color: #1E50A2;
	HEIGHT: 20px
}
#ft {
	CLEAR: both;
	FONT-SIZE: 12px;
	BACKGROUND: #e6e6e6;
	COLOR: #666;
	LINE-HEIGHT: 20px;
	FONT-FAMILY: arial;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}
.picshow {
	MARGIN-TOP: 0px;
	FLOAT: left;
	MARGIN-LEFT: 12px;
	WIDTH: 800px
}
.picshow UL {
	MARGIN: 1em 0px
}
.picshow LI {
	BACKGROUND: url(images/bg_dotline3.gif) repeat-x 50% bottom;
	FLOAT: left;
	MARGIN-BOTTOM: 1.3em;
	PADDING-BOTTOM: 1.3em;
	OVERFLOW: hidden;
	WIDTH: 25%;
	HEIGHT: 12.5em;
	TEXT-ALIGN: center
}
.picshow .img {
	BORDER-RIGHT: #eaeaea 1px solid;
	BORDER-TOP: #eaeaea 1px solid;
	OVERFLOW: hidden;
	BORDER-LEFT: #eaeaea 1px solid;
	WIDTH: 164px;
	BORDER-BOTTOM: #eaeaea 1px solid;
	HEIGHT: 164px;
	TEXT-ALIGN: center
}
.picshow .img .blank {
	WIDTH: 0px;
	HEIGHT: 161px
}
.picshow .img IMG {
	MARGIN-LEFT: -2px;
	VERTICAL-ALIGN: middle
}
.picshow .title {
	MARGIN-TOP: 5px;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 0px;
	OVERFLOW: hidden;
	WIDTH: 180px;
	LINE-HEIGHT: 150%;
	PADDING-TOP: 0px;
	HEIGHT: 20px;
	TEXT-ALIGN: center
}
.picshow .title a {
	COLOR: #0045df;
	TEXT-DECORATION: none
}
.picshow .title a: hover {
	COLOR: #ff6000;
	TEXT-DECORATION: underline
}
.picshow .area {
	MARGIN-TOP: 3px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	WIDTH: 180px;
	COLOR: #444;
	LINE-HEIGHT: 150%;
	PADDING-TOP: 0px
}
.visedpic {
	BORDER-RIGHT: #bbb 1px solid;
	BORDER-TOP: #bbb 1px solid;
	BORDER-LEFT: #bbb 1px solid;
	WIDTH: 62px;
	BORDER-BOTTOM: #bbb 1px solid;
	HEIGHT: 62px;
	TEXT-ALIGN: center
}
.newts {
	FONT-SIZE: 12px;
	MARGIN-BOTTOM: 10px;
	COLOR: #888;
	HEIGHT: 30px
}
cite a {
	color: #007B43;
	TEXT-DECORATION: underline;
}
/** button **/
	#kw {
	width: 300px;
	height: 22px;
	padding: 4px 7px;
	padding: 6px 7px 2px\9;
	font: 16px Arial;
	background: url(../images/btn_search.png) no-repeat;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top
}
.btn {
	width: 95px;
	height: 32px;
	padding: 0;
	padding-top: 2px\9;
	border: 0;
	background: #ddd url(../images/btn_search.png) 0 -35px;
	cursor: pointer
}
.btn_h {
	background-position: -100px -35px
}
#kw,.btn_wr {
	margin: 0 5px 0 0
}
.btn_wr {
	width: 97px;
	height: 34px;
	display: inline-block;
	background: url(../images/btn_search.png) no-repeat -202px bottom;
	_padding-top: 1px;
	*position: relative
}
/** 4.0 **/
#btn1 a {display:block;height:30px;width:30px;background:url(../images/index_btn.gif);background-position:0 0;		background-repeat:no-repeat} #btn1 a:hover {background-position:0 -30px}
	#u_top {
	position: absolute;
	right: 10px;
	top: 0px;
	white-space: nowrap;
	z-index: 210;
}
.indbg01{PADDING-LEFT:20px;FONT-SIZE:12px;BACKGROUND:url(../images/home/bgtt.gif) repeat-x 0px 0px;LINE-HEIGHT:23px;HEIGHT:23px;TEXT-ALIGN:left}
.indbg02{PADDING-LEFT:20px;FONT-SIZE:12px;LINE-HEIGHT:23px;PADDING-TOP:3px;BACKGROUND-COLOR:#ffffff;TEXT-ALIGN:left}
.indbg03{PADDING-RIGHT:0px;PADDING-LEFT:20px;FONT-SIZE:12px;PADDING-BOTTOM:8px;LINE-HEIGHT:23px;PADDING-TOP:15px;BACKGROUND-COLOR:#ffffff;TEXT-ALIGN:center}
#u_top {
	font-size: 12px;
}
.latest_browse {
	font-size: 13px;
	height: 18px;
	text-align: left;
	background: url(../images/spic.jpg) no-repeat scroll 0px -70px transparent;
	padding-left: 10px;
	line-height: 18px;
}
#gxszHead {
	clear: both;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	width: 100%;
}
#rs {
	width: 100%;
	background: #eff2fa;
	padding: 8px 0;
	margin: 20px 0 0
}
#rs td {
	width: 5%
}
#rs th {
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	white-space: nowrap;
	text-align: left;
	vertical-align: top
}
#rs .tt {
	font-weight: bold;
	padding: 0 10px 0 23px
}
.highlight { color: #CC0033 }

/*CSS jogger style pagination*/

DIV.jogger {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 7px; PADDING-TOP: 2px; FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif
}
DIV.jogger A {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #ee4e4e; TEXT-DECORATION: none
}
DIV.jogger A:hover {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #de1818
}
DIV.jogger A:active {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #de1818
}
DIV.jogger SPAN.current {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #6d643c; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #f6efcc
}
DIV.jogger SPAN.disabled {
	DISPLAY: none
}
.indbg01{padding-left:20px;font-size:12px;background:url(../images/bgtt.gif) repeat-x 0px 0px;line-height:23px;height:23px;text-align:left}
.indbg02{padding-left:20px;font-size:12px;line-height:23px;padding-top:3px;background-color:#ffffff;text-align:left}
.indbg03{padding-right:0px;padding-left:20px;font-size:12px;padding-bottom:8px;line-height:23px;padding-top:15px;background-color:#ffffff;text-align:center}


.tads ol, .tads ul, .tads li {
    border: 0 none;
    margin: 0;
}
.tads ol li {
    list-style: none outside none;
}
.tads li {
    line-height: 1.2;
	margin: 0 0 0 12px;
}
.tads{
	margin: 0pt 0pt 14px; 
	padding: 2px 7px 1px 8px;
    line-height: 100%;
}
#tads{
    margin-bottom: 8px !important;padding: 1px 0;
}
.vsta h3{
    font-size: medium;
    font-weight: bold;
}
cite, cite a:link, cite a:visited, .cite, .cite:link{
    color: #0E774A;
    font-style: small;
}
.ac {font-size:11px; word-break:normal; width:550px; display:block; white-space:pre-wrap; word-wrap:break-word;overflow:hidden;}
.r_ads {width: 230px; padding-left: 10px; padding-top: 12px; font-size: 14px; line-height: 150%; word-wrap: break-word;}