@charset "utf-8";
.main{ width:780px; margin:5px auto}

.title_bg{background:url(../images/sitemap_bgb.gif) repeat-x; height:30px; margin-top:2px; font-size:14px;}
.title_bg div{background:url(../images/sitemap_bga.gif) left no-repeat; padding:0 20px; height:30px; line-height:30px; font-weight:bold; color:#fff;}
.title_bg div span{float:right; font-size:11px;}

.sitemap_list{ margin:2px 0; padding:10px;  background:#f8f8f8;}
.sitemap_list ul{ padding:0; margin:0; list-style:none}
.sitemap_list li{ font-size:12px; line-height:25px;}
.sitemap_list li a{ text-decoration:underline;}

.bread_line{
	line-height:21px; 
	border-bottom:1px solid #a9bad3; 
	padding-bottom:5px;
}