/* add_link ----------------------------------------------------*/
.add_link_left{font:Verdana, Geneva, sans-serif 12px;width:228px; float:left; }
.add_link_leftcon li{height:22px; line-height:22px;}
.add_link_right{width:712px;float:right;}
.add_link_rightcon_info{padding:10px; border:0}
.add_link_rightcon_info th { height:25px; width:100px; text-align:right; font-weight:normal; line-height:25px; padding: 5px;}
.add_link_rightcon_info td { width:300px; text-align:left; font-weight:normal; line-height:25px; padding: 5px;}
.title_bar_s1 {background:url(../images/sprite_bg.gif) repeat-x; height:25px; line-height:22px; border-left:1px solid #bbcbdb;border-right:1px solid #bbcbdb;}
.title_bar_s1 h2 {
    font-family: "Times New Roman";
	font-size: 14px;
	text-indent:10px;
	color:#133b62;
	}
.add_link_leftcon,.add_link_rightcon{ border:1px solid #bbcbdb; border-top:none; padding:5px 10px;}
.btn_submit{background:url(../images/btn_base_bg.gif) no-repeat ;height:20px; line-height:20px;border:none;cursor:pointer;width:66px;margin:0 10px 0 0; }
