@charset "utf-8";
.bread_line{
	line-height:21px; 
	border-bottom:1px solid #a9bad3; 
	padding-bottom:5px;
}

.tbody{
	padding:1px 0 0 0; 

	width:960px;
}
.tbody .leftbar_help{
	float:left; 
	width:169px;
	padding-bottom:20px;
}
.tbody .rightbar{
	float:left; 
	width:750px; 
	margin-left:21px;
}
.tbody .rightbar_help{
	float:left; 
	width:750px; 
	margin-left:21px;
	border:1px solid #D5DDE7;
}

.tbody .rightbar_help img{padding:10px 0;}

.nav_help{}
.nav_title_top{
	background:url(../images/nav_title_top.gif); 
	height:28px; 
	padding-left:15px; 
	width:154px; 
	line-height:28px;
	font-weight:bold; 
	color:#fff;
}
.subnav{}
.subnav li{
	height:21px;
	width:169px;
} 
.subnav li a{
	width:154px;
	height:21px;
	display:block;
	text-decoration:none;
}
.subnav li a:hover{
	width:154px;
	height:21px;
	display:block;
	text-decoration:none;
}
.subnav_bg_a{
	background:url(../images/subnav_bg.gif) no-repeat;
	line-height:21px;
	height:21px;
	font-size:12px;
	padding-left:15px;
	width:154px;
	display:block;
	color:#666666; 
	text-decoration:none;
}
.subnav_bg_a1{
	background:url(../images/subnav_bg1.gif) no-repeat;
	line-height:21px;
	height:21px;
	font-size:12px;
	padding-left:15px;
	width:154px;
	display:block;
	color:#666666; 
	text-decoration:none;
}
.subnav_bg_a:hover{
	background:url(../images/subnav_bg3.gif) no-repeat;
	line-height:21px;
	height:21px;
	font-size:12px;
	padding-left:15px;
	width:154px;
	display:block;
	color:#333333; 
	text-decoration:none;
}
.subnav_bg_b{
	background:url(../images/subnav_bg2.gif) no-repeat;
	line-height:21px;
	height:21px;
	font-size:12px;
	padding-left:15px;
	width:154px;
	display:block;
	color:#fff; 
	text-decoration:none;
}

.bt_help_center{
	background:url(../images/bt_help_center.gif) no-repeat; 
	height:41px;
}
.bt_buy_guide{
	background:url(../images/bt_buy_guide.gif) no-repeat; 
	height:41px;
}
.bt_sell_guide{
	background:url(../images/bt_seller_guide.gif) no-repeat;
	height:41px;
}
.banner{}
.banner .banner_left{
	background:url(../images/banner_left.gif); 
	height:86px; 
	width:141px; 
	float:left;
}
.banner .banner_middle{
	background:url(../images/banner_middle.gif) repeat-x;
	width:602px;
	height:80px;
	float:left;
	padding-top:6px;
}
.banner .banner_middle li{
	line-height:23px;
	color:#fff;
	font-weight:bold;
}
.banner .banner_right{
	background:url(../images/banner_right.gif);
	height:86px;
	width:7px;
	float:left;
}
.underline{
	text-decoration:underline;
}
.list{
	margin:15px 0;
}
.list .list_left{
	float:left;
	width:375px;
}
.list .list_left .list_left_title{
	background:url(../images/list_left_title_top.gif);
	height:25px;
	line-height:23px;
	color:#fff;
	font-weight:bold;
	padding-left:25px;
	width:350px;
}
.list .list_right{
	float:right;
	width:361px;
}
.list .list_right .list_right_title{
	background:url(../images/list_right_title_top.gif);
	height:25px;
	line-height:23px;
	color:#fff;
	font-weight:bold;
	padding-left:25px;
	width:336px;
}
.list .list_left .box{
	border:1px solid #cecfce;
	border-top:none;
	padding:6px 10px;
	background:#fff;
}
.list .list_right .box{
	border:1px solid #cecfce;
	border-top:none;
	padding:6px 10px;
	background:#fff;
}
.Top_Questions_list{}
.Top_Questions_list li{
	line-height:20px;
	background:url(../images/icon_01.gif) no-repeat; 
	height:20px;
	padding-left:10px;
}
.Help_Topics_list{}
.Help_Topics_list li{
	line-height:21px;
}
.font_12b{
	font-size:12px;
	font-weight:bold;
}
.line_top{
	border-top:1px solid #d5dde7;
}
.tel_mail{
	margin-top:10px;
	
}
.tel_mail .tel_mail_bg{
	background:url(../images/tel_bg.gif);
	height:103px;
	width:335px;
	padding:10px 20px;
}
.tel_mail .tel_mail_bg li{
	line-height:21px;
}

.Method1{
	margin-top:10px;
}
.Method1_title{
	background:url(../images/list_title_top1.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}
.Method1 .box{
	border:1px solid #cecfce;
	border-top:none;
	padding:6px 10px;
	background:#fff;
}
.Method1 .box li img{
	border:1px solid #ccc;
}
.Method2{
	margin:10px 0;
}
.Method2_title{
	background:url(../images/list_title_top2.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}
.Method2_title span{
	float:right;
	font-size:11px;
	font-weight:100;
	margin-right:5px;
}
.Method2 .box{
	border:1px solid #cecfce;
	border-top:none;
	padding:6px 10px;
	background:#fff;
}
.Method2 .box li img{
	border:1px solid #ccc;
}
.web_pp{
	padding-top:10px;
	text-align:center;
}
.memberships{
	background:url(../images/different_memberships.gif) no-repeat;
	height:41px;
}
.banner{}
.banner .banner_left1{
	background:url(../images/banner_left1.gif); 
	height:107px; 
	width:7px; 
	float:left;
}
.banner .banner_middle1{
	background:url(../images/banner_middle1.gif) repeat-x;
	width:726px;
	height:107px;
	float:left;
	padding:0 5px;
}
.banner .banner_middle1 li{
	line-height:17px;
	color:#666;
	font-weight:bold;
}
.banner .banner_right1{
	background:url(../images/banner_right1.gif);
	height:107px;
	width:7px;
	float:left;
}
.member_rank{
	margin:10px 0;
} 
.free_member{
	float:left;
	width:238px;
	border:1px solid #ccc;
	background:#fff;
}
.free_member .free_member_txt{
	background:#f2f6fb;
	padding:5px 15px 5px 5px;
	height:290px;
}
.free_member .free_member_txt li{
	line-height:23px;
}
.gold_member{
	float:left;
	width:238px;
	margin-left:15px;
	border:1px solid #ccc;
	background:#fff;
}
.gold_member .gold_member_txt{
	background:#f2f6fb;
	padding:5px;
	height:290px;
}
.gold_member .gold_member_txt li{
	line-height:23px;
}

.platinum_member{
	float:left;
	margin-left:15px;
	border:1px solid #ccc;
	background:#fff;
	width:238px;
}
.platinum_member .platinum_member_txt{
	background:#f2f6fb;
	padding:5px;
	height:290px;
}
.platinum_member .platinum_member_txt li{
	line-height:23px;
}
.free_bg{
	background:url(../images/free.gif) no-repeat;
	height:140px;
	border-bottom:1px solid #ccc;
}
.gold_bg{
	background:url(../images/gold.gif) no-repeat;
	height:140px;
	border-bottom:1px solid #ccc;
}
.platinum_bg{
	background:url(../images/platinum.gif) no-repeat;
	height:140px;
	border-bottom:1px solid #ccc;
}
.box_txt{
	width:90%;
	border:1px solid #ccc;
	text-align:center;
	background:#fff;
	padding-bottom:3px;
	line-height:21px;
	margin:5px auto;
	font-weight:bold;
	color:#ff6600;
}
.free_more{
	margin:10px 0;
}
.free_more .free_title{
	background:url(../images/list_title_top1.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}
.free_more .box{
	border:1px solid #cecfce;
	border-top:none;
	padding:6px 10px;
	background:#fff;
}
.online_security{
	background:url(../images/online_security.gif) no-repeat;
	height:41px;
}
.online_security_nav{
	border:1px solid #d5dde7;
	background:#fff;
	line-height:25px;
	padding:0 10px;
	height:28px;
	margin-bottom:10px;
}
.online_security_nav li{
	float:left;
	padding-right:30px;
	display:block;
}
.online_security_content{
	margin-bottom:10px;
}
.online_security_content .online_title{
	background:url(../images/list_title_top1.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}
.online_security_content .online_title span{
	float:right;
	font-size:11px;
	font-weight:100;
	margin-right:5px;
}
.online_security_content .online_title2{
	background:url(../images/list_title_top2.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}
.online_security_content .box{
	border:1px solid #cecfce;
	border-top:none;
	padding:20px;
	background:#fff;
}
.online_security_content .box li{
	line-height:16px;
}
.q_a{
	background:url(../images/frequently_asked_questions.gif) no-repeat;
	height:41px;
}
.q_list{
	padding:10px 20px 0 20px;
	border:1px solid #d5dde7;
	background:#fff;
}
.q_list li{
	padding-bottom:10px;
	/*float:left; 
	width:360px;*/
	display:block;
}
.a_list{
	margin:10px 0;
	background:#fff;
	line-height:16px;
}
.a_list_title{
	background:url(../images/a_list_title.gif) repeat-x;
	height:25px;
	line-height:25px;
	font-weight:bold;
	color:#333;
	padding:0 10px;
}
.a_list_title span{
	float:right;
	font-size:11px;
	font-weight:100;
}
.r_l_account{
	background:url(../images/r_l_account.gif) no-repeat;
	height:41px;
}
.terms_of_use{
	background:url(../images/terms_of_use.gif) no-repeat;
	height:41px;
}
.premium_bid{
	background:url(../images/bid_promotion.gif) no-repeat;
	height:41px;
}
.my_own_domain{
	background:url(../images/my_own_domain.gif) no-repeat;
	height:41px;
}
.e_brochure{
	background:url(../images/e_brochure.gif) no-repeat;
	height:41px;
}
.translation_center{
	background:url(../images/translation_center.gif) no-repeat;
	height:41px;
}
.translation_busyalert{
	background:url(../images/busy_alert1.gif) no-repeat;
	height:41px;
}
.image_bank{
	background:url(../images/image_bank.gif) no-repeat;
	height:41px;
}
.traffic_analysis_report{
	background:url(../images/traffic_analysis_report.gif) no-repeat;
	height:41px;
}
.terms_of_us_title{
	background:url(../images/list_title_top1.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}

.bt_buying_tools{
	background:url(../images/buying_tools.gif) no-repeat;
	height:41px;
}
.bt_buying_tools_title{
	background:url(../images/list_title_top1.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}
.bt_buying_tools_box{
	border:1px solid #cecfce;
	border-top:none;
	padding:20px;
	background:#fff;
}
.company_profile{
	background:url(../images/company_profile.gif) no-repeat;
	height:41px;
}
.member_profile{
	background:url(../images/member_profile.gif) no-repeat;
	height:41px;
}
.rss_help{
	background:url(../images/help_rrs.gif) no-repeat;
	height:33px;
	padding:5px 5px 0px 0px;
}
.member_profile_nav{
	border:1px solid #d5dde7;
	background:#fff;
	line-height:25px;
	padding:0 10px;
	margin-bottom:10px;
}
.member_center{
	background:url(../images/member_center.gif) no-repeat;
	height:41px;
}
.member_center_nav{
	border:1px solid #d5dde7;
	background:#fff;
	line-height:16px;
	padding:0 10px;
	margin-bottom:10px;
}
.member_center_list_title{	
	background:url(../images/a_list_title.gif) repeat-x;
	height:25px;
	line-height:25px;
	font-weight:bold;
	color:#333;
	padding:0 10px;
}
.member_center_list_title span{
	float:right;
	font-size:11px;
	font-weight:100;
}
.member_center_bgcolor{
	background:#fff;
}
.selling_tools{
	background:url(../images/selling_tools.gif) no-repeat;
	height:41px;
}
.what_busytrade{
	background:url(../images/what_BusyTrade.gif) no-repeat;
	height:41px;
}
.what_busytrade_title{
	background:url(../images/list_title_top1.gif);
	height:25px;
	line-height:23px;
	padding-left:25px;
	width:725px;
	color:#fff;
	font-weight:bold;
}
.what_busytrade_box{
	border:1px solid #cecfce;
	border-top:none;
	padding:20px;
	background:#fff;
}
.what_busytrade_pic{
	margin-bottom:10px;
}
.overview{
	background:url(../images/iBusyTrade_overview.gif) no-repeat;
	height:41px;
}
.overview_pic{
	margin-bottom:10px;
	text-align: center;
}
.overview_box{
	border:1px solid #cecfce;
	padding:20px;
	background:#fff;
	margin-bottom:10px;
}
.disclaimer{
	background:url(../images/disclaimer.gif) no-repeat;
	height:41px;
}

.help_title { height:30px; line-height:30px; font-size:14px; font-weight:bold; text-align:center}
.help_content { padding:10px 15px;}
.help_telcont { padding:10px;}