
/* left nav */
#lnav{
	position:relative;
	width:238px;
	font-size:12px;
	line-height:22px;
	margin:0 0 10px 0;
	padding:0 0 20px 0;
	border:1px solid #b7c8d9;
	border-top:none;
}
#lnav li{
	position:relative;
	text-indent:16px;
	background:url(../images/type_triangle.gif) no-repeat 6px 7px;
}
#lnav li a, #lnav li a:visited {
	display:block;
	position:relative;
	text-decoration:none;
	width:238px;
	color:#000;
	color:#000;
}
#lnav li ul {
	display: none;
	position:relative;
}

#lnav li:hover a {
	position:relative;
	color:#999;
	line-height:20px;
	border:1px solid  #6c92b8;
	border-right:0px;
	border-left:1px solid  #6c92b8;
	left:-1px;
	width:239px;
	background:url(../images/type_triangle.gif) no-repeat 6px 6px #e2ffca;
	z-index:10;
}
#lnav li:hover ul{
	display:block;
	position:absolute;
	left:238px;
	top:0px;
	border:1px solid #6c92b8;
	border-right-width:3px;
	border-bottom-width:3px;
	background:#e2ffca;
	z-index:9;
}
#lnav li:hover li ul {
	display:none;
	position:relative;
}
#lnav li:hover li {
	position:relative;
	background:none;
}
#lnav li:hover li a {
	display:block;
	position:relative;
	color:#000;
	width:240px;
	border:none;
	background:url(../images/type_gdisc.gif) no-repeat 7px 10px;
}
#lnav li:hover li a:hover {
	position:relative;
	color:#FF6600;
	text-decoration:underline;
}

.view-all {
    background-image: none;
    border-bottom: 2px solid #DDDDDD;
    font-weight: bold;
	padding-left: 96px;
}