
body{
	background:url(../images/header_bg.gif) repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
}
input{
	font-size:12px;
}
.align_c{
	text-align:center;
}
.align_r{
	text-align:right;
}
.pad_left_10px{
	padding-left:10px;
}
.pad_bottom_10px{
	padding-bottom:10px;
}
.pad_top_btm_10px{
	padding:10px 0;
}
.pad_top_btm_20px{
	padding:20px 0;
}
.pad_top_30px{
	padding-top:30px;
}
.pad_top_6px{
	padding-top:6px;
}
.pad_top_10px{
	padding-top:10px;
}
.clear{
	clear:both;
	visibility:hidden;
	font-size:1px;
}
.font14b{
	font-size:14px;
	font-weight:bold;
}
.font12b{
	font-size:12px;
	font-weight:bold;
}
#comtainer{
	margin:0 auto;
	width:960px;
}
.bread_line{
	background:url(../images/bread_line.gif);
	line-height:26px;
	padding-left:10px;
}
.tbody_login{
	padding:10px 0 0 0;
}
.tbody_login p{
	padding:0;
	margin:0;
}
.tbody_login .tbody_login_left{
	float:left;
	width:2px;
	background:url(../images/tbody_login_left.gif) no-repeat;
	height:124px;
}
.tbody_login .tbody_login_middle{
	float:left; 
	width:957px;
	background:url(../images/tbody_login_middle.gif) repeat-x;
}
.tbody_login .tbody_login_right{
	background:url(../images/tbody_login_right.gif) no-repeat;
	float:left;
	width:1px;
	height:124px;
}
.tbody_login .tbody_login_middle .float_left_login{
	float:left;
	width:550px;
	padding-left:19px;
}
.tbody_login .tbody_login_middle .float_right_login{
	float:right;
	width:341px;
	padding-right:30px;
}
.row_01_login .float_left_ibt{
	float:left;
	width:249px;
	background:url(../images/ibt.gif);
	height:124px;
}
.row_01_login .float_left_txt{
	float:right;
	width:285px;
	padding-top:40px;
}
.row_01_login .float_left_txt li{
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	line-height:24px;
}
.row_02_login .float_pic_ad{
	float:left;
	width:175px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}
.row_02_login .float_ad_txt{

	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0px;
}
.row_02_login .float_ad_txt li{
	line-height:16px;
}
.row_03_login_ad{
	padding:5px 0 15px 0;
	overflow:hidden;
}
.login_box{
	border:1px none #F2F2F0;
	height:1%;
	background-color: #93CDDB;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-right: 26px;
	padding-bottom: 20px;
	padding-left: 27px;
}
.login_bar{
	background:#ffffff url(../images/login_bar_bottom.gif) bottom no-repeat;
	padding:20px 20px 55px 20px;
	height:1%;
}
.login_bar .form_login{
	padding:5px 0 3px 0;
}
.login_bar .form_login li{
	float:left;
} 
.form_width_01{
	width:90px;
	padding-top:3px;
	padding-left:10px;
}
.form_width_02{
	width:140px;
}
.form_width_02 input{
	background:#f2f6fb; width:130px;
}
.login_btn{
	background:url(../images/login_btn.gif);
	width:80px;
	height:34px;
	border:none;
	font-size:14px;
	font-weight:bold;
}
.forget_help{
	border:1px solid #BFBFBF;
	text-align:center;
	padding:5px 0;
}

.forget_help a{
	color:#1b5790;
	text-decoration:underline;
}
.forget_help a:hover{
	color:#ff6600;
	text-decoration:none;
}
.sign_btn{
	background:url(../images/sign_btn.gif);
	height:41px;
	width:170px;
	border:none;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
.login_box_txt{
	padding-top: 30px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}
.login_box_txt li{
	color:#0A5C72;
	line-height:16px;
}
.login_border_3px{
	border-top:3px solid #E0EDF4;
	border-left:3px solid #E0EDF4;
	border-bottom:3px solid #B3DBE5;
	border-right:3px solid #B3DBE5;
	height:1%;
}
.login_border_1px{
	border:1px solid #1b5790;
	height:1%;
	padding:1px;
}

.sell_buy_title{
	background:url(../images/sell_buy_bg.gif);
	height:21px;
	line-height:21px;
	padding:0 10px;
	color:#1b5790;
	font-weight:bold;
}
.sell_buy_title .sell_buy_title_left{
	float:left;
	width:250px;
}
.sell_buy_title .sell_buy_title_right{
	float:right;
	width:240px;
	padding-left:10px;
}
.sell_buy_title span a{
	color:#1b5790;
	text-decoration:underline;
}
.sell_buy_title span a:hover{
	color:#333;
	text-decoration:none;
}
.sell_buy_list{
	background:url(../images/login_line.gif) center repeat-y;}
.float_sell_buy_left{
	float:left;
	width:260px;
}
.float_sell_buy_right{
	float:right;
	width:260px;
}
.sell_buy_list li{
	line-height:25px;
	height:25px;
	padding:0 10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.sell_buy_list li a{
	color:#1b5790;
	text-decoration:none;
}
.sell_buy_list li a:hover{
	color:#ff6600;
	text-decoration:none;
}
.sell_buy_more{
	text-align:right;
	line-height:21px;
	padding-right:10px;
	padding-bottom:5px;
}
.sell_buy_more a{
	color:#1b5790;
	text-decoration:underline;
}
.sell_buy_more a:hover{
	color:#f60;
	text-decoration:underline;
}
