<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang member_center} &raquo; {lang administrator}</p>
</div>
<div id="rightTop"> 
    <h3>{lang administrator}</h3> 
    <ul class="subnav">
		<li><a href="adminer.php">{lang management}</a></li>
		<li><a href="adminer.php?do=edit">{lang add_or_edit}</a></li>
        <li><a class="btn1" href="adminer.php?do=password"><span>{lang change_pass}</span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="adminer.php" id="EditFrm" name="edit_frm">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> {lang old_password}</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[old_pass]" type="password" id="dataOldPass" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> {lang new_password}</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[adminer][user_pass]" type="password" id="dataAdminerUserPass" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> {lang re_input_new_password}</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[new_pass]" type="password" id="dataNewPass" /></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="changepass" value="{lang content_digest}" />		</td>
      </tr>
    </table>
  </form>
</div>
<!-- {include file="footer.html"} -->