<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang trade_management} &raquo; {lang companynews}</p>
</div>
<div id="rightTop"> 
    <h3>{lang companynews}</h3> 
    <ul class="subnav">
		<li><a class="btn1" href="companynews.php"><span>{lang management}</span></a></li>
		<li><a href="companynewstype.php">{lang types}</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
             <div> 
				{lang title_keywords} : <input class="queryInput" type="text" name="q" value="{$smarty.get.q}" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="{lang searching}" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="{lang data_zone}">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="{lang select_switch}"></th>
		  <th><label for="idAll">{lang company_name}</label></th>
		  <th>{lang the_title}</th>
		  <th>{lang clicks}</th>
		  <th>{lang status}</th>
		  <th>{lang pub_date}</th>
		  <th>{lang action}</th>
		</tr>
    </thead>
    <tbody>
		<!--{foreach from=$Items item=item}-->
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="{$item.id}" onclick="pbCheckItem(this,'idAll');" id="item_{$item.id}" title="{$item.id}"></td>
		  <td><label for="item_{$item.id}">{$item.companyname}</label></td>
		  <td>{$item.title|truncate:35}</td>
		  <td>{$item.clicked}</td>
		  <td>{$item.common_status}</td>
		  <td class="pb_datetime">{$item.pubdate}</td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_delete" href="companynews.php?id={$item.id}&do=del" title="{lang delete}">{lang delete}</a></li>
            <li><a class="btn_browse" href="companynews.php?do=view&id={$item.id}" title="{lang cp_view}">{lang cp_view}</a></li>
            <li><a class="btn_up" href="news.php?do=edit&action=convert&companynewsid={$item.id}" title="{lang pushed_to_the_news}">{lang pushed_to_the_news}</a></li>
          </ul>  
		  </td>
		</tr>
		<!--{foreachelse}-->
		<tr class="no_data info">
		  <td colspan="7">{lang no_datas}</td>
		</tr>
		<!--{/foreach}-->
    </tbody>
	</table>
	<div id="dataFuncs" title="{lang action_zone}">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="{lang delete}" class="formbtn batchButton"/>
      <input type="submit" name="check" value="{lang check_passed}" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks">{$ByPages}</div>
    <div class="clear"/>
    </div>
	</form>
</div>
<!-- {include file="footer.html"} -->