<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang trade_management} &raquo; {lang fair}</p>
</div>
<div id="rightTop"> 
    <h3>{lang fair}</h3> 
    <ul class="subnav">
		<li><a href="fair.php">{lang management}</a></li>
		<li><a class="btn1" href="fairtype.php"><span>{lang sorts}</span></a></li>
        <li><a href="fairtype.php?do=edit">{lang add_or_edit}</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl">{lang default_domestic_and_international_exhibitions}</div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="fairtype.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="{lang data_zone}">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="{lang select_switch}"></th>
		  <th><label for="idAll">{lang naming}</label></th>
		  <th>{lang action}</th>
		</tr>
    </thead>
    <tbody>
		<!--{foreach from=$Items item=item}-->
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="{$item.id}" onclick="pbCheckItem(this,'idAll');" id="item_{$item.id}" title="{$item.id}"></td>
		  <td><label for="item_{$item.id}">{$item.name}</label></td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_delete" href="fairtype.php?id={$item.id}&do=del" title="{lang delete}">{lang delete}</a></li>
            <li><a class="btn_edit" href="fairtype.php?do=edit&id={$item.id}" title="{lang edit}">{lang edit}</a></li>
          </ul>  
		  </td>
		</tr>
		<!--{foreachelse}-->
		<tr class="no_data info">
		  <td colspan="3">{lang no_datas}</td>
		</tr>
		<!--{/foreach}-->
    </tbody>
	</table>
	<div id="dataFuncs" title="{lang action_zone}">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="{lang delete}" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks">{$ByPages}</div>
    <div class="clear"/>
    </div>
	</form>
</div>
<!-- {include file="footer.html"} -->