<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang trade_management} &raquo; {lang job}</p>
</div>
<div id="rightTop"> 
    <h3>{lang job}</h3> 
    <ul class="subnav">
		<li><a class="btn1"><span>{lang management}</span></a></li>
		<li><a href="jobtype.php">{lang position_classification}</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get">
        <input type="hidden" name="do" value="search" />
             <div>
				{lang keywords}<input class="queryInput" type="text" name="q" value="{$smarty.get.q}" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="{lang searching}" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="{lang data_zone}">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="{lang select_switch}"></th>
		  <th><label for="idAll">{lang the_title}</label></th>
		  <th>{lang company_name}</th>
		  <th>{lang if_valid_n}</th>
		  <th>{lang pub_date}</td>
		  <th>{lang action}</th>
		</tr>
    </thead>
    <tbody>
		<!--{foreach from=$Items item=item}-->
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="{$item.id}" onclick="pbCheckItem(this,'idAll');" id="item_{$item.id}" title="{$item.id}"></td>
		  <td><label for="item_{$item.id}">{$item.jobname}</label>{if $item.pubdate>=$today_timestamp}&nbsp;<img src="{$admin_theme_path}images/new.gif" />{/if}</td>
		  <td>{$item.companyname}</td>
		  <td>{$CheckStatus[$item.jobstatus]}</td>
		  <td class="pb_datetime">{$item.pubdate}</td>
		  <td class="handler">
           <ul id="handler_icon">
            <li><a class="btn_delete" href="job.php?id={$item.id}&do=del" title="{lang delete}">{lang delete}</a></li>
            <li><a class="btn_browse" href="job.php?do=view&id={$item.id}" title="{lang cp_view}">{lang cp_view}</a></li>
          </ul> 
		 </td>
		</tr>
		<!--{foreachelse}-->
		<tr class="no_data info">
		  <td colspan="6">{lang no_datas}</td>
		</tr>
		<!--{/foreach}-->
    </tbody>
	</table>
	<div id="dataFuncs" title="{lang action_zone}">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="{lang delete}" class="formbtn batchButton"/>
      <select name="pb_action" id="PbAction" onchange="javascript:document.list_frm.submit()">
        <option value="-1">{lang action}</option>
        <optgroup label="{lang action}{lang lists}">
        <option value="0">{lang checked_status}</option>
        <option value="1">{lang check_passed}</option>
        <option value="2">{lang no_verify_passing}</option>
        <option value="none">{lang moderated}</option>
        <option value="3">{lang check_invalid}</option>
        </optgroup>
      </select>
    </div>
    <div class="pageLinks">{$ByPages}</div>
    <div class="clear"/>
    </div>
	</form>
</div>
<!-- {include file="footer.html"} -->