<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang trade_management} &raquo; {lang industry_news}</p>
</div>
<div id="rightTop"> 
    <h3>{lang industry_news}</h3> 
    <ul class="subnav">
		<li><a href="news.php">{lang management}</a></li>
        <li><a href="newstopic.php">{lang topic_news}</a></li>
        <li><a class="btn1" href="newstype.php"><span>{lang sorts}</span></a></li>
        <li><a href="newstype.php?do=edit">{lang add_or_edit}</a></li>
		<li><a href="newsgather.php">{lang collection}</a></li>
    </ul>
</div>
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="newstype.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="{lang data_zone}">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="{lang select_switch}"></th>
		  <th><label for="idAll">{lang serial_number}{lang colon}</label></th>
		  <th>{lang naming}</th>
		  <th>{lang action}</th>
		</tr>
    </thead>
    <tbody>
		<!--{foreach from=$Items item=item}-->
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="{$item.id}" onclick="pbCheckItem(this,'idAll');" id="item_{$item.id}" title="{$item.id}"></td>
		  <td><label for="item_{$item.id}">{$item.id}</label></td>
		  <td><a href="news.php?do=search&typeid={$item.id}">{$item.name|pl}</a><em>({$item.news_amount})</em></td>
		  <td class="handler">
           <ul id="handler_icon">
            <li><a class="btn_delete" href="newstype.php?id={$item.id}&do=del{$addParams}" title="{lang delete}">{lang delete}</a></li>
            <li><a class="btn_edit" href="newstype.php?do=edit&id={$item.id}{$addParams}" title="{lang edit}">{lang edit}</a></li>
          </ul>  
		 </td>
		</tr>
		<!--{foreachelse}-->
		<tr class="no_data info">
		  <td colspan="3">{lang no_datas}</td>
		</tr>
		<!--{/foreach}-->
    </tbody>
	</table>
	<div id="dataFuncs" title="{lang action_zone}">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="{lang delete}" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks">{$ByPages}</div>
    <div class="clear"/>
    </div>
	</form>
</div>
<!-- {include file="footer.html"} -->