<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang setting_global} &raquo; {lang passport}</p>
</div>
<div id="rightTop"> 
    <h3>{lang passport}</h3> 
    <ul class="subnav">
		<li><a class="btn1" href="passport.php"><span>{lang management}</span></a></li>
		<li><a href="passport.php?do=set">{lang basic_setting}</a></li>
		<!--{foreach from=$Items item=item}-->
		{if $item.available}
        <li><a class="btn_edit" href="passport.php?do=edit&entry={$item.name}&id={$item.id}{$addParams}" title="{lang edit}">{$item.title}</a></li>
		{/if}
		<!--{/foreach}-->
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl">{lang to_install_or_uninstall_operation_tip}</div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="{lang data_zone}">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="{lang select_switch}"></th>
		  <th><label for="idAll">{lang naming}</label></th>
		  <th>{lang the_title}</th>
		  <th>{lang whether_or} {lang setup}</th>
		  <th>{lang action}</th>
		</tr>
    </thead>
    <tbody>
		<!--{foreach from=$Items item=item}-->
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" {if !$item.id}disabled="disabled"{/if} value="{$item.id}" onclick="pbCheckItem(this,'idAll');" id="item_{$item.id}" title="{$item.id}"></td>
		  <td><label for="item_{$item.id}">{$item.name}</label></td>
		  <td>{$item.title}</td>
		  <td>{$common_option[$item.available]}</td>
		  <td class="handler">
          <ul id="handler_icon">
            {if $item.available==0 || $item.available==1}
            <li><a class="btn_edit" href="passport.php?do=edit&entry={$item.name}&id={$item.id}{$addParams}" title="{lang edit}">{lang edit}</a></li>
             <li><a class="btn_uninstall" href="passport.php?do=uninstall&id={$item.id}{$addParams}"  title="{lang uninstall}">{lang uninstall}</a></li>
             {else}
            <li><a class="btn_install" href="passport.php?entry={$item.name}&do=install{$addParams}" title="{lang install}">{lang install}</a></li>
            {/if}
          </ul>  
		</td>
		</tr>
		<!--{foreachelse}-->
		<tr class="no_data info">
		  <td colspan="5">{lang no_datas}</td>
		</tr>
		<!--{/foreach}-->
    </tbody>
	</table>
	<div id="dataFuncs" title="{lang action_zone}">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="{lang uninstall}" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks">{$ByPages}</div>
    <div class="clear"/>
    </div>
	</form>
</div>
<!-- {include file="footer.html"} -->