<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang setting_global} &raquo; {lang secure_auth}</p>
</div>
<div id="rightTop"> 
    <h3>{lang secure_auth}</h3> 
    <ul class="subnav">
        <li><a href="setting.php?do=secure">{lang security}</a></li>
		<li><a href="setting.php?do=auth" class="btn1"><span>{lang secure_auth}</span></a></li>
    </ul>
</div>
<div class="info"> 
    <form method="post" action="setting.php" name="edit_frm"> 
        <table class="infoTable"> 
         	<tr> 
                <th class="paddingT15">{lang cp_login} {lang auth_key_n}</th> 
              	<td class="paddingT15 wordSpacing5"><!--{html_radios name="data[setting][capt_logging]" options=$AskAction checked=$item.CAPT_LOGGING|default:0 separator=""}--></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">{lang register} {lang auth_key_n}</th> 
              	<td class="paddingT15 wordSpacing5"><!--{html_radios name="data[setting][capt_register]" options=$AskAction checked=$item.CAPT_REGISTER|default:0 separator=""}--></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">{lang free_post_trade} {lang auth_key_n}</th> 
              	<td class="paddingT15 wordSpacing5"><!--{html_radios name="data[setting][capt_post_free]" options=$AskAction checked=$item.CAPT_POST_FREE|default:0 separator=""}--></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">{lang market} {lang auth_key_n}</th> 
              	<td class="paddingT15 wordSpacing5"><!--{html_radios name="data[setting][capt_add_market]" options=$AskAction checked=$item.CAPT_ADD_MARKET|default:0 separator=""}--></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">{lang control_pannel} {lang login} {lang auth_key_n}</th> 
       			<td class="paddingT15 wordSpacing5"><!--{html_radios name="data[setting][capt_login_admin]" options=$AskAction checked=$item.CAPT_LOGIN_ADMIN|default:0 separator=""}--></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">{lang friendlink} {lang auth_key_n}</th> 
              	<td class="paddingT15 wordSpacing5"><!--{html_radios name="data[setting][capt_apply_friendlink]" options=$AskAction checked=$item.CAPT_APPLY_FRIENDLINK|default:0 separator=""}--></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">{lang comments_or_suggestions} {lang auth_key_n}</th> 
       			<td class="paddingT15 wordSpacing5"><!--{html_radios name="data[setting][capt_service]" options=$AskAction checked=$item.CAPT_SERVICE|default:0 separator=""}--></td> 
          	</tr>
            <tr> 
            <th></th> 
            <td class="ptb20"> 
                <input class="formbtn" type="submit" name="saveauth" value="{lang submit}" /> 
            </td> 
        </tr> 
        </table> 
    </form> 
</div> 
<!-- {include file="footer.html"} -->