{block name="title" prepend}{#order_manage#}{/block}
{block name="main"}
     <div class="blank"></div>
	 <div class="offer_banner"><img src="{$office_theme_path}images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2>{$page_title}</h2></div>
      <div class="hint">{lang order_manage}</div> 
       <table cellspacing="0" id="dataTable" class="datas">
		<thead>
		<tr>
			<td><p align="left">{lang trade_number}</p></td>
			<td>{lang total_order_amount}</td>
			<td>{lang order_status}</td>
			<td>{lang pay_status}</td>
			<td>{lang order_time}</td>
			<td>{lang operation}</td>
		</tr>
		</thead>
		<tbody>
		  <!--{foreach from=$datas item=item}-->
		  <tr class="{if $item.pay_status eq 1}selected{/if}">
		  <td>{$item.trade_no}</td>
		  <td>{$item.total_price}</td>
		  <td>{$order_status[$item.status]}</td>
		  <td>{$pay_status[$item.pay_status]}<br><small><i>{$item.pay_name}</i></small></td>
		  <td>{$item.created|date_format:"%Y-%m-%d %H:%M"}</td>
		  <td><!-- <a href="order.php?action=preview&tradeno={$item.trade_no}" style="text-decoration:underline;">{lang preview}</a> --><!-- {if $item.pay_status==0} -->&nbsp;&nbsp;<a href="../purchase.php?do=pay&tradeno={$item.trade_no}" style="text-decoration:underline;" target="_blank">{lang pay_now}</a>&nbsp;<a href="order.php?action=cancel&tradeno={$item.trade_no}" style="text-decoration:underline;">{lang cancel}</a><!-- {/if} --></td>
		  </tr>
		  <!--{foreachelse}-->
		  <tr><td colspan="5"><div align="center">{lang no_datas_now}</div></td></tr>
		  <!--{/foreach}-->
		</tbody>
	</table>
	<div id="footer" style="margin-top: 40px;">{$ByPages}</div>
{/block}