/*  
The Name: Default
The URI: http://demo.phpb2b.com/cn/
Description: A Ualink Default Template. Enjoy!
Author: PB TEAM
Author URI: http://www.phpb2b.com/
Version: 3.0
Sample Color: #4DB5F8
*/
@import url("css/type.css");
@import url("css/widgets.css");