    <div class="foot">
          <ul>

            <li class="color_1b5790">
		        <!-- {pb:userpage row=15 name="item"} -->
			<a  rel="nofollow" href="{$item.url}">{$item.title}</a>|
	        	<!-- {/pb:userpage} --> 
            </li>
		   <li>{$site_name}{lang copyright}&copy;&nbsp;{lang service_hotline}{$service_tel}&nbsp;{lang service_email}:{mailto text="$service_email" address="$service_email" encode="javascript"}&nbsp;<a href="javascript:;" onclick="<!-- {literal} -->$('html, body').animate({scrollTop: '0px'}, 300);return false;<!-- {/literal} -->">{lang go_top}</a> </li>
		   <li>{$icp_number}</li>
		   <li class="footer_im">{im type="qq" id="$service_qq"}{im type="msn" id="$service_msn"}</li>
		  </ul>
     </div>
</div>
</body>
</html>