{assign var="page_title" value=#member_reg#}
{include file="header.html"}
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>
<link href="{$theme_img_path}css/register.css" rel="stylesheet" type="text/css" />
  <div class="tit_tishi"> 
    Please fill up in English only.
    "<span>*</span>"
    means required fields.
  </div>

  <a name="list"></a>
  <div class="register_ts" id="info_submit" style=" display:none; margin:5px 0 10px 0;">
     Your information is wrong, please refer to the note
  </div>
  <div class="pad_bottom_10px">
    <div class="tit">
      <div class="title_left_bg"></div>
      <div class="title_c_bg">
        Fill in the Account Information
      </div>

      <div class="title_right_bg"></div>
      <div class="clear"></div>
    </div>
    <div class="box_reg">
        <div class="register">
		     <form name="regfrm" id="regfrm" method="post" action="" autocomplete="off" onsubmit="$('#Submit').attr('disabled',true);">
            <!-- {formhash} -->
            <input type="hidden" name="register" value="{$smarty.get.type}" />
            <input type="hidden" name="typename" value="{$smarty.get.typename|urldecode}" />
            <input type="hidden" name="forward" value="{$smarty.get.forward}" />
			<label class="registerlabel" for="dataMemberUsername">
          <ul>
            <li class="register_lf"><span>*</span>Member ID:</li>
            <li class="register_rht">
              <input type="text" name="data[member][username]" id="dataMemberUsername" value="" tabindex="1"/>
                <div class="register_ts_2">
                Enter 5 to 15 characters (A-Z, a-z, 0-9, no spaces). Company name initials recommended
              </div>

            </li>
          </ul>
		  </label>
          <ul>
            <li class="register_lf"><span>*</span>E-Mail Address:</li>
            <li class="register_rht">
               <input name="data[member][email]" id="dataMemberEmail" value="" tabindex="2"/>
                <div class="register_ts_2">
                Please make sure your email works, as you will use it to:  Receive all business messages via {$SiteUrl}
              </div>
            </li>
          </ul>
          <ul>
            <li class="register_lf"><span>*</span>Password :</li>
            <li class="register_rht">
                <input type="password" name="data[member][userpass]" id="memberpass" value="" tabindex="3">
                <div class="register_ts_2">
                6-15 characters (A-Z, a-z, 0-9, no spaces) <br/>We suggest you use both letters and numbers in your password to improve account security
              </div>
            </li>
          </ul>
          <ul>
            <li class="register_lf"><span>*</span>Confirm Password:</li> 
            <li class="register_rht"><input name="re_memberpass" type="password" id="re_memberpass" value="" tabindex="4"></li>
          </ul>
  {if $ifcapt}
         <ul>
            <li class="register_lf"><span>*</span>Code:</li>
            
            <li class="register_rht">
          
                <span class="registercheck"><img class="registerpic" width="123" height="50" id="imgcaptcha" src="captcha.php?sid={$sid}" alt="{lang unclear_see_numbers}" title="{lang unclear_see_numbers}" />
                <p>
                <object type="application/x-shockwave-flash" data="static/images/play.swf?audio=captcha.php&amp;do=play&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000" height="19" width="19">
                <param name="movie" value="static/images/play.swf?audio=captcha.php&amp;do=play&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000" />
                </object>
                <br /><a href="javascript:;"><img src="{$theme_img_path}images/gongqiu03.jpg" class="registerpic2" id="exchange_imgcapt"/></a></p><br clear="all" /></span><br clear="all" />
                </li>
                
             <li class="register_lf"></li>
              <li class="register_rht"><input name="data[capt_register]" id="login_auth" type="text" value="" size="4" style="width:60px;" tabindex="5"></li>
			</ul>
            {/if}
          <div class="clear"></div>
		  
			<p class="registerp2"><input name="licence_check" id="LicenseCheck" type="checkbox" onclick="if(this.checked)$('#Submit').removeAttr('disabled'); else $('#Submit').attr('disabled','true');" checked="checked" /><label for="LicenseCheck">{lang see_agree}</label></p>
            <br clear="all" />
			<p class="registerbutton"><input type="submit" name="Submit" id="Submit" value="{lang register}" class="submit_w67" tabindex="6" /></p>
			</form>
        </div>
    </div>
  </div>
          <div class="clear"></div>
      </div>
    </div>
  </div>
<script language="javascript" src="static/scripts/jquery/jquery.validate.js"></script>
<script language="javascript" src="static/scripts/validate.js" charset="{$Charset}"></script>
{include file="footer.html"}