/*  
The Name: Simple for English
The URI: http://demo.phpb2b.com/
Description: An Ualink Default Template. Enjoy!
Author: PB TEAM
Author URI: http://www.phpb2b.com/
Version: 3.0
Sample Color: #4DB5F8
*/
@import url("type.css");
@import url("widgets.css");