html{
	color:#000;
	overflow-y:scroll;
	background:#fff
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,th,td{
	margin:0;
	padding:0
}
body,button,input,select,textarea{
	font:12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal
}
address,cite,dfn,em,var{
	font-style:normal
}
code,kbd,pre,samp,tt{
	font-family:"Courier New",Courier,monospace
}
small{
	font-size:12px
}
ul,ol{
	list-style:none
}
a{
	text-decoration:none
}
a:hover{
	text-decoration:underline;
	color:#ff7300
}
legend{
	color:#000
}
fieldset,img{
	border:none
}
button,input,select,textarea{
	font-size:100%
}
.fd-left{
	float:left
}
.fd-right{
	float:right
}
.fd-clear{
	clear:both
}
.fd-clr:after{
	display:block;
	clear:both;
	height:0;
	content:"\0020"
}
.fd-hide{
	display:none
}
.fd-show{
	display:block
}
.fd-inline{
	display:inline
}
.fd-lump{
	display:inline-block;
	display:-moz-inline-stack;
	*display:inline
}
.fd-visible{
	visibility:visible
}
.fd-hidden{
	visibility:hidden
}
.fd-locate{
	position:relative
}
.fd-cny{
	font-family:Helvetica,Arial
}
.fd-gray{
	color:#666
}
.fd-bold{
	font-weight:700
}
.w952{
	width:952px;
	margin:0 auto;
	padding:0 4px
}
.layout-p32a24{
	zoom:1
}
.layout-p32a24:after{
	content:"\0020";
	display:block;
	height:0;
	clear:both
}
.grid-fixed{
	margin-right:0!important
}
.layout-p32a24{
	margin-bottom:8px
}
.layout-p32a24 .grid-4{
	float:left;
	width:152px;
	margin-right:8px
}
.layout-p32a24 .grid-6{
	float:left;
	width:232px;
	margin-right:8px
}
.layout-p32a24 .grid-14{
	float:left;
	width:552px;
	margin-right:8px
}
.layout-p32a24 .grid-24{
	float:left;
	width:952px
}
/** main body **/
body{
	line-height:1.5
}
#main_content{
	margin-top:8px
}
.last-col{
	margin-right:0 !important;
	padding-right:0 !important
}
.cny{
	font-family:Helvetica,Arial
}
.float-lt{
	float:left
}
.float-rt{
	float:right
}
.clear{
	clear:both
}
a:hover,a:active{
	color:#ff7300 !important;
	text-decoration:underline
}
a.a-img{
	display:inline-block
}
.list:after,.list-product:after,.list-tags:after,.cell-header:after{
	display:block;
	clear:both;
	height:0;
	content:"\0020"
}
.list li,.cell-header .title{
	float:left
}
.list-product li{
	float:left !important
}
.list li li{
	float:none
}
.cell-list-txt{
	line-height:20px
}
.f-slider{
	overflow:hidden;
	position:relative
}
.f-slider ul.f-slider-list{
	overflow:hidden
}
.f-slider ul.f-slider-list li{
	width:320px;
	height:190px;
	*display:inline;
	line-height:0
}
.f-slider ul.f-slider-list img{
	border:0 none;
	display:block;
	padding:0;
	margin:0
}
html{
	color:#666
}
/**a:link,a:visited{
	color:#2783c9
}**/
.cell-list-txt a:link,.cell-list-txt a:visited{
	color:#666
}
.cell-3rd:after{
	display:block;
	clear:both;
	height:0;
	content:"\0020"
}
.cell-3rd dt{
	float:left;
	_margin-right:-3px
}
.cell-3rd dd{
	overflow:hidden;
	position:relative;
}
.cell-3rd dt,.cell-3rd dt a,.cell-3rd dt img{
	overflow:hidden
}
.mod-notice .cell-header .title,.common-header-2nd .title,.mod-serverportal .portallist a:hover,.common-header-1st,.common-header-1st .fixed-rb,.mod-info .topic_content,.mod-activity .topic_content{
	background:url(../images/seller-bg.png) no-repeat
}
.common-header-1st .title,.common-header-1st .title em,.mod-notice .list li,.mod-serverportal .portallist a span,.float-rt a.more,.mod-login-1st .btn-login a,.mod-login-1st .cxtlogo,.mod-login-1st .consult .btn-consult,.mod-info .btn-customize,.mod-buyerdynamic .btn-customize,.obj-buyerdynamic-2nd .topic_content .f-tab-t,.obj-buyerdynamic-2nd .topic_content .current,.mod-successstory .cell-list-txt li,.mod-hotsubject .cell-list-txt li,.mod-info .list-title .current a,.mod-info .list-title .current a em,.mod-info .list-title .f-tab-t{
	background:url(../images/seller-icon.png) no-repeat
}
.mod-info .info-default,.obj-buyerdynamic-1st .topic_content{
	overflow:hidden
}
.loadingImg{
	height:20px;
	width:20px;
	top:4px;
	right:61px;
	position:absolute
}
.mod-notice{
	border:1px solid #e3e7f0;
	height:31px;
	background-color:#f2f5fb
}
.mod-notice .cell-header{
	float:left;
	width:58px
}
.mod-notice .cell-header .title{
	background-position:0 0;
	float:left;
	padding-left:10px;
	width:48px;
	height:31px;
	line-height:31px;
	font-size:14px;
	font-weight:700;
	color:#333
}
.mod-notice .topic_content{
	margin-left:93px;
	width:850px;
	height:31px;
	overflow:hidden
}
.mod-notice .topic_content .list{
	
}
.mod-notice .list li{
	display:inline;
	background-position:-100px -186px;
	height:31px;
	line-height:31px;
	margin-right:22px;
	padding-left:8px;
	width:184px;
	overflow:hidden
}
.mod-notice .list li a:link,.mod-notice .list li a:visited{
	color:#666
}
.mod-serverportal,.mod-station,.mod-buyerdynamic,.mod-successstory,.mod-commerce,.mod-hotsubject{
	border:1px solid #d9e4f3
}
.common-header-2nd{
	height:28px;
	border-bottom:1px solid #e5ecf7
}
.common-header-2nd .title{
	display:inline;
	background-position:0 -50px;
	background-repeat:repeat-x;
	margin-left:1px;
	padding-left:8px;
	width:140px;
	height:28px;
	line-height:28px;
	font-size:13px;
	font-weight:700;
	color:#333
}
.mod-serverportal .topic_content{
	position:relative;
	z-index:100
}
.mod-serverportal .portallist li{
	height:27px;
	width:150px;
	border-bottom:1px solid #ecf1f9
}
.mod-serverportal .portallist a{
	display:block;
	height:27px;
	line-height:27px
}
.mod-serverportal .portallist a span{
	display:block;
	background-position:14px -245px;
	padding-left:23px;
	height:27px;
	cursor:pointer
}
.mod-serverportal .portallist li.list-2nd{
	border-bottom:1px solid #d9e4f3;
	background-color:#f2f5fb
}
.mod-serverportal .portallist li.list-3rd{
	border-bottom:1px solid #d9e4f3;
	background-color:#ebeffd
}
.mod-serverportal .portallist li.last-col{
	border-bottom:2px solid #d9e4f3
}
.mod-serverportal .portallist a:hover{
	text-decoration:none;
	background-position:0 -150px;
	background-repeat:repeat-x
}
.mod-serverportal .portallist a:hover span{
	background-position:14px -270px;
	font-weight:700
}
.mod-serverportal .topic_content .float-tip{
	position:absolute;
	background:#3393e3;
	padding:8px;
	left:0;
	top:0;
	width:auto;
	white-space:nowrap;
	z-index:101;
	display:none;
	color:#fff;
	text-align:center;
}
.mod-img-2nd,.mod-img-3rd{
	margin-top:8px;
	border:1px solid #d9e4f3
}
.mod-img-2nd dt,.mod-img-3rd dt{
	margin:3px
}
.mod-img-2nd dd,.mod-img-3rd dd{
	padding-left:8px
}
.mod-img-2nd dt a,.mod-img-2nd dt img,.mod-img-3rd dt a,.mod-img-3rd dt img{
	display:block;
	height:42px;
	overflow:hidden
}
.mod-img-2nd dd.description,.mod-img-3rd dd.description{
	padding-top:2px
}
.mod-img-2nd dd.txt{
	padding-bottom:8px;
	line-height:1.6;
	color:#bbb
}
.mod-img-3rd dd{
	padding-bottom:4px
}
.mod-img-3rd dt a,.mod-img-3rd dt img{
	height:120px
}
.mod-slider{
	height:200px
}
.mod-slider ul.f-slider-list{
	height:194px;
	border:3px solid #D9E4F3
}
.f-slider ul.f-slider-list li,.f-slider ul.f-slider-list a,.f-slider ul.f-slider-list img{
	display:inline-block;
	width:540px;
	height:190px;
	overflow:hidden
}
.f-slider ul.f-slider-list li{
	margin:3px 0 0 3px
}
.mod-info{
	position:relative;
	z-index:90
}
.mod-info div.topic_content{
	height:184px
}
.mod-info .topic_content .list-title{
	position:absolute;
	top:0;
	left:85px;
	z-index:9;
	width:390px;
	overflow:hidden
}
.mod-info .info-list{
	background-color:#fff;
	height:171px
}
.mod-info .info-list .cell-list-txt{
	background-color:#fff
}
.mod-info .info-list .cell-list-txt li{
	padding-top:0;
	margin-top:9px
}
.mod-info .list-title .f-tab-t{
	background-position:right -409px;
	float:left;
	height:29px;
	line-height:29px;
	padding:0 6px
}
.mod-info .list-title .f-tab-t a{
	display:inline-block;
	padding-left:5px;
	text-decoration:none;
	height:29px;
	line-height:29px;
	color:#666
}
.mod-info .list-title .f-tab-t a em{
	display:inline-block;
	padding-right:4px;
	height:29px;
	line-height:29px;
	cursor:pointer
}
.mod-info .list-title .last-col{
	background:none
}
.mod-info .btn-customize,.mod-buyerdynamic .btn-customize{
	background-position:0 -310px;
	position:absolute;
	top:4px;
	right:4px;
	display:inline-block;
	width:56px;
	height:21px;
	line-height:19px;
	text-decoration:none;
	text-align:right;
	z-index:100
}
.mod-info .btn-customize em,.mod-buyerdynamic .btn-customize em{
	padding-right:7px
}
.mod-info .btn-customize:link,.mod-info .btn-customize:visited,.mod-buyerdynamic .btn-customize:link,.mod-buyerdynamic .btn-customize:visited{
	color:#333
}
.mod-info .btn-customize:hover,.mod-info .btn-customize:active,.mod-buyerdynamic .btn-customize:hover,.mod-buyerdynamic .btn-customize:active{
	color:#666 !important
}
.obj-info-2nd{
	float:right;
	padding:6px 14px 0 11px;
	background-color:#fff
}
.obj-info-2nd dt{
	border:1px solid #bbb
}
.mod-info div.float-rt a.more{
	background-position:0 -193px;
	height:23px;
	line-height:23px
}
.mod-buyerdynamic .over .btn-customize{
	background-position:-100px -310px
}
.mod-showinfo,.mod-info,.mod-activity{
	margin-top:8px;
	border:1px solid #d9e4f3
}
.common-header-1st{
	background-position:0 -50px;
	background-repeat:repeat-x;
	height:29px
}
.mod-info .common-header-1st{
	position:relative
}
.common-header-1st .title{
	float:left;
	background-position:0 -380px;
	height:29px;
	line-height:29px;
	padding-left:10px;
	font-size:13px;
	font-weight:700;
	color:#333
}
.common-header-1st .title em{
	display:inline-block;
	background-position:right -380px;
	height:29px;
	line-height:29px;
	padding-right:10px
}
.common-header-1st .fixed-rb{
	float:right;
	height:29px;
	width:2px;
	background-position:right -200px
}
.mod-info .topic_content,.mod-activity .topic_content{
	background-position:left bottom;
	background-repeat:repeat-x;
	height:175px
}
.obj-activity-1st,.info-list{
	float:left;
	width:275px;
	background:#fff
}
.obj-activity-1st .cell-3rd{
	padding:14px 0 0 12px;
	width:259px;
	position:relative
}
.obj-activity-1st dt,.obj-activity-1st dt a,.obj-activity-1st dt img{
	height:60px;
	width:60px
}
.obj-activity-1st .cell-3rd dt{
	padding:4px 12px 0 0
}
.obj-activity-1st .cell-3rd .description{
	font-weight:700;
	padding-bottom:12px
}
.obj-activity-1st .description a:link,.obj-activity-1st .description a:visited,.mod-successstory .description a:link,.mod-successstory .description a:visited{
	color:#444
}
.obj-activity-1st .cell-3rd .detail{
	position:absolute;
	right:0px
}
.mod-info .info-default{
	height:171px;
}
.info-list{
	width:263px;
	padding-left:12px
}
.buying{
	overflow:hidden;
	height:114px
}
.buying .cell-list-txt{
	background:#f2f5fb
}
.info-list .cell-list-txt li{
	float:left;
	width:252px;
	margin-top:10px;
	height:20px;
	border-bottom:1px dotted #c9c9c9;
	overflow:hidden;
}
.info-list .cell-list-txt span{
	display:inline-block;
	float:left
}
.info-list .cell-list-txt .txt,.info-list .cell-list-txt .txt-2nd{
	padding-left:4px;
	height:20px;
	width:168px;
	overflow:hidden
}
.info-list .cell-list-txt .txt-2nd{
	width:198px
}
.info-list .cell-list-txt .date{
	float:right
}
.mod-info .float-rt a.more,.obj-station .float-rt a.more,.mod-selfservice .float-rt a.more,.mod-buyerdynamic .float-rt a.more,.mod-successstory .float-rt a.more,.mod-commerce .float-rt a.more,.mod-hotsubject .float-rt a.more{
	background-position:0 -190px;
	display:block;
	width:24px;
	height:28px;
	line-height:28px;
	padding:0 10px
}
a.more:link,a.more:visited{
	color:#999
}
.mod-showinfo{
	width:550px;
	margin-top:8px
}
.mod-showinfo .topic_content{
	overflow:hidden;
}
.mod-showinfo .cell-header .title{
	width:540px
}
.mod-showinfo .obj-activity-1st .cell-3rd{
	padding-left:0
}
.mod-station{
	width:550px;
	margin-top:8px;
	overflow:hidden
}
.mod-station .cell-header .title{
	width:540px
}
.obj-station{
	width:275px;
	float:left
}
.obj-station .cell-header{
	height:29px;
	line-height:29px;
	border-bottom:1px solid #d9e4f3
}
.obj-station .cell-header .title{
	width:200px;
	background:none;
	float:left;
	padding-left:10px;
	font-weight:700
}
.obj-station .info-list{
	padding:0 0 16px 10px
}
.mod-login-1st{
	border:1px solid #d9e4f3;
	background-color:#f2f5fb;
	padding:5px 5px 0
}
.mod-login-1st .cell-header,.mod-login-1st .cxt{
	width:218px;
	height:77px;
	border:1px solid #ecf1f9;
	background-color:#fff;
	margin-bottom:5px
}
.mod-login-1st .cell-header .title{
	float:left;
	padding:10px 0 0 16px;
	font-family:\5FAE\8F6F\96C5\9ED1;
	color:#454545;
	font-weight:700;
	font-size:13px
}
.mod-login-1st .btn-login{
	float:left;
	width:153px;
	height:33px;
	padding:4px 0 0 31px
}
.mod-login-1st .btn-login a{
	display:inline-block;
	background-position:0 -100px;
	width:153px;
	height:33px;
	line-height:33px;
	text-align:center;
	font-family:\5FAE\8F6F\96C5\9ED1;
	font-weight:700;
	font-size:14px;
	color:#fff !important;
	text-decoration:none
}
.mod-login-1st .cxt{
	border-top:0 none;
	height:262px
}
.mod-login-1st .cxtlogo{
	display:block;
	width:218px;
	height:78px;
	line-height:200px;
	overflow:hidden;
	background-position:0 0
}
.mod-login-1st .cxtlist{
	margin-left:20px
}
.mod-login-1st .cxtlist dt{
	margin-top:8px;
	font-weight:700;
	color:#333
}
.mod-login-1st .cxtlist dd{
	padding-top:6px;
	font-family:\5b8b\4f53
}
.mod-login-1st .cxtlist .unique{
	color:#078c1d
}
.mod-login-1st .consult{
	height:36px;
	line-height:40px;
	margin-top:6px
}
.mod-login-1st .consult .btn-consult{
	float:left;
	background-position:0 -150px;
	margin-left:20px;
	display:inline-block;
	width:113px;
	height:36px;
	line-height:200px;
	overflow:hidden
}
.mod-login-1st .consult .more-detail{
	float:right;
	margin-right:24px
}
.mod-login-1st .tel{
	margin:7px 0 7px 9px;
	color:#333
}
.mod-login-1st .tel .value{
	font-weight:700;
	text-decoration:none
}
.mod-login-1st .tel .value:link,.mod-login-1st .tel .value:visited{
	text-decoration:underline
}
.value{
	font-size: 13px
}
.mod-buyerdynamic,.mod-successstory,.mod-commerce,.mod-hotsubject{
	margin-top:8px
}
.mod-buyerdynamic .common-header-2nd{
	position:relative;
	z-index:90
}
.mod-buyerdynamic .cell-header .title,.mod-successstory .cell-header .title,.mod-commerce .cell-header .title,.mod-hotsubject .cell-header .title{
	width:220px
}
.mod-buyerdynamic .cell-header .title{
	_width:218px
}
.mod-buyerdynamic .topic_content .cell-header{
	height:28px;
	border-bottom:1px solid #d9e4f3
}
.mod-buyerdynamic .topic_content .cell-header .title{
	width:120px;
	background:none;
	padding-left:9px;
	height:28px;
	line-height:28px;
	float:left;
	font-weight:700
}
.obj-buyerdynamic-2nd .cell-header{
	border-top:1px solid #d9e4f3
}
.obj-buyerdynamic-1st .topic_content{
	height:144px
}
.obj-buyerdynamic-1st .hotsearch{
	margin:10px 10px 0;
	height:144px;
	background-color:#fff
}
.obj-buyerdynamic-1st .hotsearch li{
	border-bottom:1px dotted #c9c9c9;
	width:85px;
	height:18px;
	float:left;
	margin-bottom:8px;
	padding-right:20px;
	overflow:hidden
}
.obj-buyerdynamic-1st .hotsearch li a:link,.obj-buyerdynamic-1st .hotsearch li a:visited{
	color:#666
}
.obj-buyerdynamic-2nd .topic_content{
	position:relative;
	height:122px;
	background-color:#f2f5fb
}
.obj-buyerdynamic-2nd .topic_content .buy{
	position:absolute;
	top:-19px;
	right:10px
}
.obj-buyerdynamic-2nd .topic_content .f-tab-t{
	background-position:-100px -230px;
	float:left;
	margin-left:5px;
	width:9px;
	height:9px;
	line-height:50px;
	overflow:hidden
}
.obj-buyerdynamic-2nd .topic_content .current{
	background-position:0 -230px
}
.obj-buyerdynamic-2nd .cell-list-txt{
	padding:6px 10px 0
}
.obj-buyerdynamic-2nd .cell-list-txt li{
	border-bottom:1px dotted #c9c9c9;
	margin-bottom:6px
}
.obj-buyerdynamic-2nd .cell-list-txt li a{
	*float:left
}
.obj-buyerdynamic-2nd .cell-list-txt li span{
	float:right
}
.mod-successstory .topic_content{
	height:220px;
	padding:12px 8px 0
}
.mod-successstory .cell-3rd dt{
	padding-right:7px
}
.mod-successstory .cell-3rd .description{
	font-weight:700;
	padding-bottom:3px
}
.mod-successstory .cell-list-txt,.mod-hotsubject .cell-list-txt{
	margin:1px 0 0 2px
}
.mod-successstory .cell-list-txt li,.mod-hotsubject .cell-list-txt li{
	border-bottom:1px dotted #c9c9c9;
	background-position:-100px -191px;
	padding-left:9px;
	margin-bottom:6px
}
.mod-successstory .cell-header,.mod-commerce .cell-header,.mod-hotsubject .cell-header{
	position:relative
}
.mod-commerce .cell-header .float-rt .more,.mod-hotsubject .cell-header .float-rt .more{
	position:absolute;
	top:0;
	right:0
}
.mod-commerce .topic_content{
	height:110%;
	padding:8px 8px 0
}
table.tab-category{
	border-left:1px solid #e4e4e4;
	border-top:1px solid #e4e4e4;
	margin:0 auto 2px;
	width:100%;
	line-height:23px
}
table.tab-category tr td{
	border-bottom:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
	line-height:23px;
	text-align:center
}
table.tab-category tr td.no-data{
	border:none
}
.mod-hotsubject .topic_content{
	height:88px;
	padding:5px 8px 0
}