{assign var="page_title" value=#adv_search#}
{include file="header.html"}
<style type="text/css">
@import url({$theme_img_path}widgets.css);
@import url({$theme_img_path}effect.css);
</style>
<script src="static/scripts/jquery.tools.js"></script>
<div class="wrapper">
<div class="tips"><span>{$position}</span></div>  
<div class="advance_search">
	 <!-- the tabs -->
	  <ul class="tabs2 title_mouse">
		  <li><a href="javascript:;"><span>{lang offer}</span></a></li>
		  <li><a href="javascript:;"><span>{lang product}</span></a></li>
		  <li><a href="javascript:;"><span>{lang yellow_page}</span></a></li>
		  <li><a href="javascript:;"><span>{lang market}</span></a></li>
	</ul>
	<!-- tab "panes" -->
	<div class="panes box_bord">
		<div class="tabs_search" id="SearchOffer">
		<form name='form_send0' id='form_send0' method='GET' action='index.php'>
            <input type="hidden" name="do" id="hdDo" value="search" />
            <input type="hidden" name="action" id="hdAct" value="lists" />
			<table>
				  <tr>
					<th>{lang offer_title}</th>
					<td><input type="text" name="q"  /></td>
				  </tr>
				  <tr>
					<th>{lang company_name}</th>
					<td><input type="text" name="company_name"  /></td>
				  </tr>
				  <tr>
					<th>{lang valid_time}</th>
					<td><select name="pubdate">
						<option value='0'>{lang no_time_limit}</option>
						<option value='l3'>{lang least_three_days}</option>
						<option value='l10'>{lang least_ten_days}</option>
						<option value='l30'>{lang least_thirty_days}</option>
						</select>
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="{lang search}"  class="btn_submit" />
					<input name="input2"  type="reset" value="{lang reset}" class="btn_submit"/>
				</td>
				  </tr>
			  </table>
		</form>
		</div>
		<!-- display none -->
		<div class="tabs_search" style="display:none" id="SearchProduct">
		<form name='form_send1' id='form_send1' method='GET' action='index.php'>
			<input type="hidden" name="do" value="search" />
			<table>
				  <tr>
					<th>{lang product_title}</th>
					<td><input type="text" name="q" id="q9" /></td>
				  </tr>
				  <tr>
					<th>{lang company_name}</th>
					<td><input type="text" name="company_name" /></td>
				  </tr>
				  <tr>
					<th>{lang post_time}</th>
					<td>
					  <select name="pubdate">
						<option value='0'>{lang no_time_limit}</option>
						<option value='l3'>{lang least_three_days}</option>
						<option value='l10'>{lang least_ten_days}</option>
						<option value='l30'>{lang least_thirty_days}</option>
					  </select>						
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="{lang search}"  class="btn_submit" />
					<input name="input2"  type="reset" value="{lang reset}" class="btn_submit"/>						
					</td>
				  </tr>
			  </table>
			  </form>
		</div>
		<div class="tabs_search" style="display:none" id="SearchCompany">
		<form name='form_send2' id='form_send2' method='get' action='index.php'>
			<input type="hidden" name="do" value="search" />
			<table>
				  <tr>
					<th>{lang company_name}</th>
					<td><input type="text" name="q" id="q15" /></td>
				  </tr>
				  <tr>
					<th>{lang main_prod_n}</th>
					<td><input type="text" name="main_prod" /></td>
				  </tr>
				  <tr>
					<th>{lang belong_industry}</th>
					<td>
						<p id="dataIndustry">
							<select name="industry_id1" id="dataTradeIndustryId1" class="level_1" style="width:120px;" ></select>
							<select name="industry_id2" id="dataTradeIndustryId2" class="level_2" style="width:120px;"></select>
							<select name="industry_id3" id="dataTradeIndustryId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th>{lang area}</th>
					<td>
						<p id="dataArea">
							<select name="area_id1" id="dataTradeAreaId1" class="level_1" style="width:120px;" ></select>
							<select name="area_id2" id="dataTradeAreaId2" class="level_2" style="width:120px;"></select>
							<select name="area_id3" id="dataTradeAreaId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="{lang search}"  class="btn_submit" />
					<input name="input2"  type="reset" value="{lang reset}" class="btn_submit"/>
					</td>
				  </tr>
			  </table>
			  </form>
		</div>
		<div class="tabs_search" style="display:none" id="SearchMarket">
		<form name='form_send3' id='form_send3' method='GET' action='index.php'>
			<input type="hidden" name="do" value="search" />
			<table>
				  <tr>
					<th>{lang market_name}</th>
					<td><input name="q" type="text" /></td>
				  </tr>
				  <tr>
					<th>{lang belong_industry}</th>
					<td>
						<p id="dataIndustry">
							<select name="industry_id1" id="dataTradeIndustryId1" class="level_1" style="width:120px;" ></select>
							<select name="industry_id2" id="dataTradeIndustryId2" class="level_2" style="width:120px;"></select>
							<select name="industry_id3" id="dataTradeIndustryId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th>{lang area}</th>
					<td>
						<p id="dataArea">
							<select name="area_id1" id="dataTradeAreaId1" class="level_1" style="width:120px;" ></select>
							<select name="area_id2" id="dataTradeAreaId2" class="level_2" style="width:120px;"></select>
							<select name="area_id3" id="dataTradeAreaId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="{lang search}"  class="btn_submit" />
					<input name="input2"  type="reset" value="{lang reset}" class="btn_submit"/>
					</td>
				  </tr>
			  </table>
		</form>
		</div>
	</div>
	</div>
</div>
<script>
var app_language = '{$AppLanguage}';
$(function() {
	$("ul.tabs2").tabs("div.panes > div");
});
</script>
<script src="static/scripts/multi_select.js" charset="{$Charset}"></script>
<script src="static/scripts/script_area.js"></script>
<script src="static/scripts/script_industry.js"></script>
{include file="footer.html"}