{assign var="page_title" value="$page_title"}
{assign var="nav_id" value="$nav_id"}
{include file="header.html"}
<link href="{$theme_img_path}css/index_global.css" rel="stylesheet" type="text/css" />
<link href="{$theme_img_path}css/buy_list.css" rel="stylesheet" type="text/css" />
<div class="breadline">{$position}</div>
   <div class="tbody">
                <div class="float_left">	
             <div class="line_top">  
                <div class="left_title_bg">
                  <div class="navbg">
                    <div>{lang search_result}</div>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="leftbar_bgcolor">
                  <ul>
                    <li class="width_02">{lang picture}</li>
                    <li class="width_03">{lang offer}/{lang publisher}</li>
                    <li class="width_04">{lang area_n}</li>
                    <li class="width_04">{lang member_level}</li>
                    <li class="width_04">{lang contact_us}</li>

                  </ul>
                  <div class="clear"></div>
                </div>
				{if $StickyItems}
					<!--{foreach from=$StickyItems name=sticky_offer item="sticky"}-->
                 <div class="list_product">
                  <ul>
                  <li class="width_02">
                  <img src="{$sticky.image}" border=0 alt="{$sticky.title}"></li>
                    <li class="width_03">
                      <div>
                        <ul>
        
                          <li class="font14"><strong><a href="{$sticky.url}" title="{$sticky.title}">{$sticky.title}</a></strong><font color="#999999" class="font12">[{$sticky.pubdate}]</font></li>
                          <li class="pad_top_5px break">{lang abstract}{$sticky.content|truncate:100}</li>
						  <li class="pad_top_5px break">{lang publisher}   {if $sticky.companyname}<a href="space.php?userid={$sticky.username}">{$sticky.companyname}</a>{else}{$sticky.username}{/if}</li>
                        </ul>
                      </div>
                    </li>
                    <li class="width_04">{if $sticky.if_commend>0}<span class="icon-commend"></span>{/if}{if $sticky.if_urgent>0}<span class="icon-hurry"></span>{/if}<img src="static/images/top.gif" alt="{lang bump_to_top}" />   {if $sticky.area_id1}{$Areas[1][$sticky.area_id1]}<br />{$Areas[2][$sticky.area_id2]}{/if}</li>
                    <li class="width_04">{if $sticky.gradename}<img src="{$sticky.gradeimg}" alt="{$sticky.gradename}" >{/if}</li>
                    <li class="width_04"> <span>{$sticky.im}</span><br />
                    <span class="two">
						{if $sticky.companyname!=""}
						<a href="space.php?do=feedback&userid={$sticky.userid}"><span class="im_pms">{lang station_message}</span></a>
						{elseif $sticky.username}
						<a href="virtual-office/pms.php?do=send&to={$sticky.username}"><span class="im_pms">{lang send_message}</span></a>
						{/if}
                    </span></li>
                      
                  </ul>
                  <div class="clear"></div>
                </div>
                 	{/foreach}
				{/if}
				{foreach from=$items name=offer item="item"}
                 <div class="list_product">
                  <ul>
                  <li class="width_02">
                  <a href="{$item.url}"><img src="{$item.image}" border=0 alt="{$item.title}"></a></li>
                    <li class="width_03">
                      <div>
                        <ul>
        
                          <li class="font14"><strong><a href="{the_url module=offer id=$item.id}" title="{$item.title}">{$item.title}</a></a></strong><font color="#999999" class="font12">[{$item.pubdate}]</font></li>
                          <li class="pad_top_5px break">{lang abstract}{$item.content|truncate:100}</li>
						  <li class="pad_top_5px break">{lang publisher}   {if $item.companyname}<a href="space.php?userid={$sticky.username}">{$item.companyname}</a>{else}{$item.username}{/if}</li>
                        </ul>
                      </div>
                    </li>
                    <li class="width_04">{if $item.if_commend>0}<span class="icon-commend"></span>{/if}{if $item.if_urgent>0}<span class="icon-hurry"></span>{/if}<img src="static/images/top.gif" alt="{lang bump_to_top}" />  {if $item.area_id1}{$Areas[1][$item.area_id1]}<br />{$Areas[2][$item.area_id2]}{/if}</li>
                    <li class="width_04"><!-- {if $item.gradename} -->{$item.gradeimg}<!-- {/if} --></li>
                    <li class="width_04"> <span>{$item.im}</span><br />
                    <span class="two">
						{if $item.companyname!=""}
						<a href="space.php?do=feedback&userid={$item.userid}"><span class="im_pms">{lang station_message}</span></a>
						{elseif $item.username}
						<a href="virtual-office/pms.php?do=send&to={$item.username}"><span class="im_pms">{lang send_message}</span></a>
						{/if}
                    </span></li>
                      
                  </ul>
                  <div class="clear"></div>
                </div>
                 	{/foreach}
                <div class="bg_gary">
                <div class="pad_top_10px">
                  <div class="page"><!-- {pager rowcount=$paging.total} --></div>
                </div>
                <div class="pad6">
                  <div style="padding:10px 0;">Want to display your products? It's FREE! <a href="{$SiteUrl}virtual-office/product.php?do=edit"  target="_blank" title="Post My Product"><img src="{$theme_img_path}images/btn_03.gif" border="0" align="absmiddle" /></a></div>
                </div>
                </div>
              </div>
	   </div>
    
	    <div class="float_right">
             <div class="pad_top_10px"  style="text-align:left;">
                <div class="title_green"><span class="span_more"><a href="{$SiteUrl}announce/"><img border="0" src="{$theme_img_path}images/more_blue.gif" alt="Busy Times" /></a></span>Announcements</div>
            
                <div class="border_green">
                    <div class="featured" style="background:#FBFFF5; padding:2px; overflow:hidden;">
                        <ul>
		{pb:announce infolen=40 row=5 name="item"}
                            <li class="margin_bottom_5px">
                               <a href="{$item.url}">{$item.title}</a>
                           </li>
		{/pb:announce}
                        </ul>
                    </div>
                </div>
            </div>	 
  
    </div>
    <div class="clear"></div>
    <script>
$("#SearchFrm").attr("action","index.php?do=offer&action=lists");
$("#topMenuOffer").addClass("search_tag_a");
</script>
{include file="footer.html"}
