/*  
The Name: Blue Sky For English
The URI: http://www.phpb2b.com/
Description: A Ualink Default Template. Enjoy!
Author: PB TEAM
Author URI: http://www.phpb2b.com/
Version: 3.0
Sample Color: #0033cc
*/
@import url("type.css");
@import url("widgets.css");